
<fieldset>
  <legend>结算单位：</legend>
  <% checkout_enterprises = @finance.checkout_enterprises %>
  <% if checkout_enterprises.nil?  %>
      <%=  "无结算单位" %>
  <% else %>
      <table>
        <thead>
        <tr>
          <th>海关编码</th>
          <th>名称</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% checkout_enterprises.each do |checkout_enterprise| %>
            <tr>
              <td><%= checkout_enterprise.code %></td>
              <td><%= Enterprise.find_by_code(checkout_enterprise.code).name %></td>
              <td>
                <% if @finance.review == 1 or  @finance.review == 3  %>
                    <%= link_to "修改", edit_checkout_enterprise_path(checkout_enterprise, :from => @finance.id) %>
                    <%= link_to "删除", checkout_enterprise_path(checkout_enterprise)  + "?from=" + @finance.id.to_s, confirm: '确定删除?', method: :delete %>
                <% else %>
                    已审核，不能操作
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <% if @finance.review == 1 or  @finance.review == 3  %>

      <p>
        <%= link_to '添加结算单位', new_checkout_enterprise_path(:finance_id =>  @finance.id, :from => @finance.id) %>
      </p>
  <% end %>

</fieldset>