<% finance_fee_codes = []
   finance_fee_names = []
   @finance_declarations.each do |finance_declaration|
     finance_declaration.finances[0].finance_fees.each do |finance_fee|
       if !finance_fee_codes.include?(finance_fee.code) and !finance_fee.name.blank?
         finance_fee_codes.append(finance_fee.code)
         finance_fee_names.append(finance_fee.name)
       end
     end
   end
   col_total_prices = Array.new(finance_fee_codes.size + 1, 0)
   no = 0 %>
<fieldset>
  <legend>付费信息：</legend>
  <!--财务统计信息-->
  <div>
    <div class="outer-center">
      <div class="inner-center">
        <table border=1 style="border-collapse:collapse;">
          <thead style="font-weight: bold">
          <tr>
            <td>序号</td>
            <td>报关日期</td>
            <td></td>
            <td>付费企业名称</td>
            <td>报关单号</td>
            <% cookies[:finance_fee_names] = {value: finance_fee_names, expires: 1.day.from_now} %>
            <% finance_fee_names.each do |finance_fee_name| %>
                <td><%= finance_fee_name[0..-2] %></td>
            <% end %>
            <td>金额</td>
          </tr>
          </thead>
          <% @pages.each_with_index do |page, page_index| %>
              <% if page.empty?
                   next
                 end %>

              <tbody>
              <% page.each do |finance_declaration_array| %>
                  <%
                     if finance_declaration_array.empty?
                       next
                     end
                  %>
                  <tr class='not-alt-row'>
                    <td><%= no = no + 1 %></td>
                    <td style="font-size: 10px"><%= finance_declaration_array[0].declare_date %></td>
                    <td style="padding: 0">
                      <table rules=rows style=" width: 100%;">
                        <% finance_declaration_array.each do |finance_declaration| %>
                            <% finance = finance_declaration.finances.first %>
                            <% checkout_enterprises = finance.checkout_enterprises %>
                            <% checkout_enterprises.each do |checkout_enterprise| %>
                                <tr class='not-alt-row'>
                                  <td><%= Dict::DealMode.find_by_code(finance_declaration.deal_mode).name rescue '' %></td>
                                </tr>
                            <% end %>
                        <% end %>
                      </table>
                    </td>

                    <td style="padding: 0">
                      <table rules=rows style=" width: 100%;">
                        <% finance_declaration_array.each do |finance_declaration| %>
                            <% finance = finance_declaration.finances.first %>
                            <% checkout_enterprises = finance.checkout_enterprises %>
                            <% checkout_enterprises.each do |checkout_enterprise| %>
                                <tr class='not-alt-row'>
                                  <td><%= Enterprise.find_by_code(checkout_enterprise.code).name[0..-5] rescue '' %></td>
                                </tr>
                            <% end %>
                        <% end %>
                      </table>
                    </td>

                    <td style="padding: 0">
                      <table rules=rows style=" width: 100%;">
                        <% finance_declaration_array.each do |finance_declaration| %>
                            <% finance = finance_declaration.finances.first %>
                            <% checkout_enterprises = finance.checkout_enterprises %>
                            <% checkout_enterprises.each do |checkout_enterprise| %>
                                <tr class='not-alt-row'>
                                  <td><%= finance_declaration.entry_no[-10..-1] %></td>
                                </tr>
                            <% end %>
                        <% end %>
                      </table>
                    </td>

                    <% checkout_enterprise_fees_i = Array.new(10, 0) %>
                    <% row_total_price = Array.new(10, 0) %>
                    <% finance_fee_codes.each_with_index do |finance_fee_code, vi| %>
                        <td style="padding: 0">
                          <table rules=rows style=" width: 100%;">
                            <% row_i = 0 %>
                            <% finance_declaration_array.each do |finance_declaration| %>
                                <% finance = finance_declaration.finances.first %>
                                <% checkout_enterprises = finance.checkout_enterprises %>
                                <% checkout_enterprises.each do |checkout_enterprise| %>
                                    <% if checkout_enterprises.size == 1 %>
                                        <% checkout_enterprise_fees = finance.finance_fees %>
                                    <% else %>
                                        <% checkout_enterprise_fees = checkout_enterprise.finance_fees %>
                                    <% end %>
                                    <% if checkout_enterprise_fees_i[row_i] < checkout_enterprise_fees.size and finance_fee_code == checkout_enterprise_fees[checkout_enterprise_fees_i[row_i]].code %>
                                        <tr class='not-alt-row'>
                                          <td><%= price = FinanceFee.find_by_code(finance_fee_code).price %></td>
                                        </tr>
                                        <% col_total_prices[vi] = col_total_prices[vi] + price %>
                                        <% checkout_enterprise_fees_i[row_i] = checkout_enterprise_fees_i[row_i] + 1 %>
                                        <% row_total_price[row_i] = row_total_price[row_i] + price %>
                                        <% row_i = row_i + 1 %>
                                    <% else %>
                                        <tr class='not-alt-row'>
                                          <td>&nbsp;</td>
                                        </tr>
                                        <% row_i = row_i + 1 %>
                                    <% end %>

                                <% end %>
                            <% end %>
                          </table>
                        </td>
                    <% end %>
                    <td style="padding: 0">
                      <table rules=rows style=" width: 100%;">
                        <% row_i = 0 %>
                        <% finance_declaration_array.each do |finance_declaration| %>
                            <% finance = finance_declaration.finances.first %>
                            <% checkout_enterprises = finance.checkout_enterprises %>
                            <% checkout_enterprises.each do |checkout_enterprise| %>
                                <tr class='not-alt-row'>
                                  <td><%= row_total_price[row_i] %></td>
                                </tr>
                                <% row_i = row_i + 1 %>
                            <% end %>
                        <% end %>
                      </table>
                    </td>
                    <% col_total_prices[col_total_prices.size - 1] = col_total_prices[col_total_prices.size - 1] + row_total_price.inject { |sum, x| sum + x } %>
                  </tr>

              <% end %>

              <% if page_index == @pages_size - 1 %>

                  <tr>
                    <td></td>
                    <td>合计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <% cookies[:col_total_prices] = {value: col_total_prices, expires: 1.day.from_now} %>
                    <% col_total_prices.each do |col_total_price| %>
                        <td><%= col_total_price %></td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
              </table>
              </div>
              </div>
              </div>
              </fieldset>
          <% end %>