
<fieldset>
  <legend>付费信息：</legend>
  <% finance_fees = @finance.finance_fees %>
  <% is_empty  = finance_fees.empty? %>
  <% if is_empty  %>
      <% finance_fees =  EnterpriseFee.find_all_by_load_port_and_enterprise_id(@finance.declaration.load_port, @finance.declaration.enterprise_id) %>
  <% end %>
  <table>
    <thead>
    <tr>
      <th>编号</th>
      <th>中文名</th>
      <th>结算单位</th>
      <th>价格</th>
      <th>应收</th>
      <th>应付</th>
      <th>操作</th>
    </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
    <% finance_fees.each do |finance_fee| %>
        <% if is_empty
             new_finance_fee = FinanceFee.new(finance_fee.attributes.except!('enterprise_id'))
             new_finance_fee.finance_id = @finance.id
             new_finance_fee.save
           end %>
        <% fee = Dict::Fee.find_by_code(finance_fee.code) %>
        <tr>
          <td><%= link_to finance_fee.code, finance_fee %></td>
          <td><%= fee.name %></td>
          <td><%= Enterprise.find_by_code(finance_fee.checkout_enterprise.code).name rescue '' %></td>
          <td><%= fee.price %></td>
          <td><%= fee.is_income ? '√' : '×' %></td>
          <td><%= fee.is_pay ? '√' : '×' %></td>
          <td>
            <% if @finance.review == 1 or   @finance.review == 3  %>
                <%= link_to "修改", edit_finance_fee_path(finance_fee, :from => @finance.id) %>
                <%= link_to "删除", finance_fee_path(finance_fee) + "?from=" + @finance.id.to_s, confirm: '确定删除?', method: :delete %>
                <%= link_to "选择结算单位", edit_finance_fee_path(finance_fee, :from => @finance.id) %>
          <% else %>
                已审核，不能操作
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <% if @finance.review == 1 or   @finance.review == 3  %>
      <p>
        <%= link_to '新建付费信息', new_finance_fee_path(:finance_id =>  @finance.id, :from => @finance.id) %>
      </p>
  <% end %>

</fieldset>