<%= javascript_include_tag "jquery.ui.datepicker.min" %>
<%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>

<%= stylesheet_link_tag "jquery.ui.datepicker.min", :media => "all" %>
<%= stylesheet_link_tag "jquery.ui.theme.min", :media => "all" %>

<script>
    function combine(){
        var combines = $("input[type=checkbox]:checked");
        var no = $($(combines[0]).parent().parent().children()[0]).text();
        combines.each(function(i){
            var url = "/finances/combine.json";
            var id = $($(this).parent().parent().children()[0]).text();
            $.post(url, {id:id, no:no}).success(function(){
                if(i == combines.size() - 1) {
                    alert("合并成功");
                    location.reload();
                }
            }).error(function(){
                        if(i == combines.size() - 1)  alert("合并失败");
                    })
        })
    }

    function uncombine(){
        var combines = $("input[type=checkbox]:checked");
        var no = $($(combines[0]).parent().parent().children()[0]).text();
        combines.each(function(i){
            var url = "/finances/uncombine.json";
            var id = $($(this).parent().parent().children()[0]).text();
            $.post(url, {id:id, no:no}).success(function(){
                if(i == combines.size() - 1) {
                    alert("取消合并成功");
                    location.reload();
                }
            }).error(function(){
                        if(i == combines.size() - 1)  alert("取消合并失败");
                    })
        })
    }

    $(function(){
        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });
        $("#submit").click(function(){
            $("#finance_search_status").empty().append("正在加载中...").css('color','red');
        })
        $("#search").on("ajax:success", function(e, data, status, xhr){
            $("#finance_search_status").empty().append("加载成功").css('color','green');
            if( xhr.responseText){
                $('#income_result_div').empty().append( xhr.responseText)
                //$('tbody tr:even').not(".alt-row").addClass("alt-row"); // Add class "alt-row" to even table rows
                $('.pagination a').each(function(i){
                    $(this).attr("href","income?page=" + (i+2));
                })
            }else{
                $('#income_result_div').empty();
                alert("没有对应账单");
            }
        });



    })
</script>
<%= form_tag  search3_finances_path, :id => 'search' ,:method => 'get', :remote => true  do |f| %>
    <fieldset>
      <legend>搜索框：</legend>
      <div class="field">
        <label>装卸口岸</label>
        <%= text_field_tag "load_port", nil, :class => "text-input small-input", :value => cookies[:load_port]%>
      </div>
      <div class="field">
        <label>开始时间</label>
        <%= text_field_tag "from", nil,  :class => "text-input small-input", :value=> cookies[:from]%>
      </div>
      <div class="field">
        <label>结束时间</label>
        <%= text_field_tag "to",  nil,  :class => "text-input small-input", :value=> cookies[:to] %>
      </div>
      <div class="clear"></div><!-- End .clear -->

      <div style="margin: 0 10px 0 10px">
        <%= submit_tag  '搜    索', class: "button", id: "submit" %>
      </div>


    </fieldset>
<% end %>