
<div class="content-box">
  <div class="content-box-header">
    <h3>财务统计（<%= params[:code] ? Enterprise.find_by_code(params[:code]).name  : "只搜索 审核 后的账单"  rescue ''%>）</h3>

    <div class="operations">
      <% if params[:code] %>
      <%= link_to '打印', print_finances_path(format: "html") + "?can_export=true&code=#{params[:code]}", :target => "_blank"%>
      <% else %>
      <%= link_to '打印', print_finances_path(format: "html") + '?can_export=true', :target => "_blank"%>
      <% end %>
    </div>
  </div>
  <div class="content-box-content">
    <% if !params[:code] %>
    <%= render "check_form", :model => Finance %>
    <% end %>
    <div id='finance_search_status' style="padding: 10px 10px 10px 10px"></div>
    <div id="check_result_div">
      <%= render "check_result", :model => Finance %>
    </div>
  </div>
</div>
