<% finance_fee_codes = []
   finance_fee_names = []
   @finance_declarations.each do |finance_declaration|
     finance_declaration.finances[0].finance_fees.each do |finance_fee|
       if !finance_fee_codes.include?(finance_fee.code) and !finance_fee.name.blank? and ! Dict::Fee.find_by_code(finance_fee.code).blank?
         finance_fee_codes.append(finance_fee.code)
         #finance_fee_names.append(finance_fee.name)
       end
     end
   end
   finance_fee_codes.sort!
   finance_fee_codes.each do |code|
     finance_fee_names.append(Dict::Fee.find_by_code(code).name)
   end
   col_total_prices = Array.new(finance_fee_codes.size + 1, 0)
   no = 0
   recipient_enterprise = Enterprise.find_by_code(cookies[:recipient_enterprise_code])
%>

<div class="frame" style="text-align: center; height: 90px;">
  <h2><b><%= recipient_enterprise.name %></b></h2>
  <div><%= recipient_enterprise.address  %></div>
  <div>Tel:<%= recipient_enterprise.telephone  %>&nbsp;&nbsp;&nbsp;&nbsp;Fax:<%= recipient_enterprise.fax%></div>
  <div style="font-size: 18px"><b>请　　款　　单</b></div>
</div>
<table>
  <tr>
    <td colspan="4"><b>客户：</b><% code = params[:code] ? params[:code] : cookies[:checkout_enterprise_code] %><%= Enterprise.find_by_code(code).name rescue '' %></td>
    <td colspan="2"><b>时间：</b><%= cookies[:check_from] + "至" +cookies[:check_to] rescue '' %></td>
    <td colspan="2"><b>装卸口岸：</b><%= cookies[:check_load_port] rescue '' %></td>
    <td colspan="2"><b>币制：</b><span class="content">人民币</span></td>
  </tr>
</table>

<table border=1 style="border-collapse:collapse;">

<thead style="font-weight: bold">
<tr>
  <td>序号</td>
  <td>报关日期</td>
  <% if params['deal_mode'] == 'show' %>
  <td></td>
  <% end %>
  <td>客户</td>
  <td>报关单号</td>
  <% if params['cargo_name'] == 'show' %>
  <td>商品名称</td>
  <% end %>
  <% if params['contract_no'] == 'show' %>
  <td>合同协议</td>
  <% end %>
  <% if params['bill_no'] == 'show' %>
  <td>车牌</td>
  <% end %>
  <% finance_fee_names.each_with_index do |finance_fee_name, i| %>
      <td><%#  finance_fee_codes[i] %><%= finance_fee_name[0..-2] %></td>
  <% end %>
  <td>金额</td>
</tr>
</thead>
<tbody>
<%# 每一页  %>
<% @pages.each_with_index do |page, page_index| %>
    <% if page.empty?
         next
       end %>
    <%# 每一页里的所有被合并的报关单 %>
    <% page.each do |finance_declaration_array| %>

        <tr>

          <%# 序号 %>
          <td><%= no = no + 1 %></td>

          <%# 日期 %>
          <td style="font-size: 10px"><% d = finance_declaration_array[0].declare_date.to_s%><%= d[0..3] + d[5..6] + d[8..9]  %></td>

          <% if params['deal_mode'] == 'show' %>
          <%# FOB CIF %>
          <% if finance_declaration_array.size == 1 %>
              <td>&nbsp;<%= Dict::DealMode.find_by_code(finance_declaration_array[0].deal_mode).name rescue '' %></td>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <tr>
                        <td>&nbsp;<%= Dict::DealMode.find_by_code(finance_declaration.deal_mode).name rescue '' %></td>
                      </tr>
                  <% end %>
                </table>
              </td>
          <% end %>
          <% end %>

          <%# 公司名称 %>
          <% if finance_declaration_array.size == 1 %>
              <td><%= finance_declaration_array[0].enterprise.name rescue '' %></td>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <tr>
                        <td><%= finance_declaration.enterprise.name rescue '' %></td>
                      </tr>
                  <% end %>
                </table>
              </td>
          <% end %>

          <%# 报关单号 %>
          <% if finance_declaration_array.size == 1 %>
              <td><%= finance_declaration_array[0].entry_no[-10..-1]  rescue '' %>&nbsp;</td>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <tr>
                        <td><%= finance_declaration.entry_no[-9..-1] %>&nbsp;</td>
                      </tr>
                  <% end %>
                </table>
              </td>
          <% end %>

          <%# 商品名称 %>
          <% if params['cargo_name'] == 'show' %>
          <% if finance_declaration_array.size == 1 %>
              <td><%= finance_declaration_array[0].declaration_cargos.first.name[0..5]  rescue '' %></td>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <tr>
                        <td><%= finance_declaration.declaration_cargos.first.name[0..5] rescue ''%></td>
                      </tr>
                  <% end %>
                </table>
              </td>
          <% end %>
          <% end %>

          <%# 合同协议 %>
          <% if params['contract_no'] == 'show' %>
          <% if finance_declaration_array.size == 1 %>
              <td><%= finance_declaration_array[0].contract_no  rescue '' %>&nbsp;</td>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <tr>
                        <td><%= finance_declaration.contract_no %>&nbsp;</td>
                      </tr>
                  <% end %>
                </table>
              </td>
          <% end %>
          <% end %>

          <%# 车牌 %>
          <% if params['bill_no'] == 'show' %>
          <% if finance_declaration_array.size == 1 %>
              <td><%= finance_declaration_array[0].bill_no  rescue '' %>&nbsp;</td>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <tr>
                        <td><%= finance_declaration.bill_no %>&nbsp;</td>
                      </tr>
                  <% end %>
                </table>
              </td>
          <% end %>
          <% end %>

          <% checkout_enterprise_fees_i = Array.new(10, 0) %>
          <% row_total_price = Array.new(10, 0) %>
          <% finance_fee_codes.each_with_index do |finance_fee_code, vi| %>  <%# 所有报关单的finance fee code汇总 %>
              <% if finance_declaration_array.size == 1 %>
                  <% row_i = 0 %>
                  <% finance_declaration = finance_declaration_array[0] %>
                  <% finance = finance_declaration.finances.first %>        <%#  finane 表示报关单对应的账单 %>
                  <% checkout_enterprises = finance.checkout_enterprises.where(code: code) %>   <%# 账单对应的结算单位,改为按结算单位搜索后应该只有一个，即搜索条件里输入的结算单位。而如果不考虑搜索条件的话，账单是可以有多个结算单位的 %>
                  <% checkout_enterprises.each do |checkout_enterprise| %>
                      <% if finance.checkout_enterprises.size == 1 %>
                          <% checkout_enterprise_fees = finance.finance_fees.order("code") %>
                      <% else %>
                          <% checkout_enterprise_fees = checkout_enterprise.finance_fees.order("code") %>
                      <% end %>

                      <% if checkout_enterprise_fees_i[row_i] < checkout_enterprise_fees.size and finance_fee_code == checkout_enterprise_fees[checkout_enterprise_fees_i[row_i]].code %>
                          <td><%= sprintf "%0.2f", price = finance.finance_fees.find_by_code(finance_fee_code).price %></td>
                          <% col_total_prices[vi] = col_total_prices[vi] + price %>
                          <% checkout_enterprise_fees_i[row_i] = checkout_enterprise_fees_i[row_i] + 1 %>
                          <% row_total_price[row_i] = row_total_price[row_i] + price %>
                      <% else %>
                          <td>&nbsp;</td>
                      <% end %>
                      <% row_i = row_i + 1 %>
                  <% end %>
              <% else %>
                  <td style="padding: 0">
                    <table rules=rows style=" width: 100%;">
                      <% row_i = 0 %> <%# 每一个row_id表示被合并的报关单里的一个报关单 %>
                      <% finance_declaration_array.each do |finance_declaration| %>   <%# finance_declaration_array表示一组被合并的报关单 %>
                          <% finance = finance_declaration.finances.first %>        <%#  finane 表示报关单对应的账单 %>
                          <% checkout_enterprises = finance.checkout_enterprises.where(code: code) %>   <%# 账单对应的结算单位,改为按结算单位搜索后应该只有一个，即搜索条件里输入的结算单位。而如果不考虑搜索条件的话，账单是可以有多个结算单位的 %>
                          <% checkout_enterprises.each do |checkout_enterprise| %>
                              <% if finance.checkout_enterprises.size == 1 %>
                                  <% checkout_enterprise_fees = finance.finance_fees.order("code") %>
                              <% else %>
                                  <% checkout_enterprise_fees = checkout_enterprise.finance_fees.order("code") %>
                              <% end %>

                              <% if checkout_enterprise_fees_i[row_i] < checkout_enterprise_fees.size and finance_fee_code == checkout_enterprise_fees[checkout_enterprise_fees_i[row_i]].code %>
                                  <tr>
                                    <td><%= sprintf "%0.2f", price = finance.finance_fees.find_by_code(finance_fee_code).price %></td>
                                  </tr>
                                  <% col_total_prices[vi] = col_total_prices[vi] + price %>
                                  <% checkout_enterprise_fees_i[row_i] = checkout_enterprise_fees_i[row_i] + 1 %>
                                  <% row_total_price[row_i] = row_total_price[row_i] + price %>
                              <% else %>
                                  <tr>
                                    <td>&nbsp;</td>
                                  </tr>
                              <% end %>
                              <% row_i = row_i + 1 %>
                          <% end %>
                      <% end %>
                    </table>
                  </td>
              <% end %>
          <% end %>


          <% if finance_declaration_array.size == 1 %>
              <td><%=sprintf "%0.2f", row_total_price[0] %></td>
              <% col_total_prices[col_total_prices.size - 1] = col_total_prices[col_total_prices.size - 1] +  row_total_price[0] %>
          <% else %>
              <td style="padding: 0">
                <table rules=rows style=" width: 100%;">
                  <% row_i = 0 %>
                  <% finance_declaration_array.each do |finance_declaration| %>
                      <% finance = finance_declaration.finances.first %>
                      <% checkout_enterprises = finance.checkout_enterprises.where(code: code) %>
                      <% checkout_enterprises.each do |checkout_enterprise| %>
                          <tr>
                            <td><%=sprintf "%0.2f", row_total_price[row_i] %></td>
                          </tr>
                          <% row_i = row_i + 1 %>
                      <% end %>
                  <% end %>
                </table>
              </td>
              <% col_total_prices[col_total_prices.size - 1] = col_total_prices[col_total_prices.size - 1] + row_total_price.inject { |sum, x| sum + x } %>
              </tr>
          <% end %>


    <% end %>
    <% if page_index == @pages_size - 1 %>
        <tr>
          <td></td>
          <td>合计</td>
          <% if params['deal_mode'] == 'show' %><td></td><% end %>
          <td></td>
          <td></td>
          <% if params['cargo_name'] == 'show' %><td></td><% end %>
          <% if params['contract_no'] == 'show' %><td></td><% end %>
          <% if params['bill_no'] == 'show' %><td></td><% end %>
          <% col_total_prices.each do |col_total_price| %>
              <td><%= sprintf "%0.2f",col_total_price %></td>
          <% end %>
        </tr>
    <% end %>

<% end %>
</tbody>
</table>

<table>
   <tr>
     <td><b>复核：</b></td>
     <td></td>      <%# 报关日期 %>
     <% if params['deal_mode'] == 'show' %><td></td><% end %>
     <td></td><%# 客户 %>
     <td></td><%# 报关单号 %>
     <% if params['cargo_name'] == 'show' %><td></td><% end %><%# 商品名称 %>
     <% if params['contract_no'] == 'show' %><td></td><% end %><%# 合同协议 %>
     <% if params['bill_no'] == 'show' %><td></td><% end %><%# 车牌 %>
     <% finance_fee_names.each_with_index do |finance_fee_name, i| %>
         <% if i < finance_fee_names.size - 2 %><td></td><% end %>
     <% end %>
    <td><b>制单人：</b><%= current_user.name rescue ''%></td>
   </tr>
</table>

<div style="height: 17px">
  &nbsp;
</div>
<% recipient_enterprise = Enterprise.find_by_code(cookies[:recipient_enterprise_code]) %>
<table style="margin: 0.5em 0 0.5em 0;text-align: left">
  <tr>
    <%if params['deal_mode'] == 'show' and false %><td></td><% end %>
    <td colspan="4"><b>收款单位：</b><%= recipient_enterprise.name  rescue ''%>&nbsp;</td>
    <td colspan="2"><b>收款账号：</b><%= recipient_enterprise.bank_account rescue ''%>&nbsp;</td>
    <td colspan="5"><b>开户银行：</b><%= recipient_enterprise.bank rescue '' %>&nbsp;</td>
  </tr>
  <tr>
    <% if params['deal_mode'] == 'show'and false %><td></td><% end %>
    <td colspan="4"><b>联系人：</b><%= recipient_enterprise.linkman rescue ''%>&nbsp;</td>
    <td colspan="2"><b>电话：</b><%= recipient_enterprise.telephone rescue ''%>&nbsp;</td>
    <td colspan="5"><b>地址：</b><%= recipient_enterprise.address rescue ''%>&nbsp;</td>
  </tr>
</table>


</div>




