<style type="text/css">
    @page {
        size:landscape;
    }

    td{
        padding: 0 0.5em;
    }
    .clear{
        page-break-after: always;
    }

    .outer-center {
        float: right;
        right: 50%;
        position: relative;
    }
    .inner-center {
        float: right;
        right: -50%;
        position: relative;
    }
    .clear {
        clear: both;
    }
</style>
<div>
  <div class="outer-center">
    <div class="inner-center">
      <h2>
        <b>东莞市泽盛物流有限公司</b>
      </h2>
      <h5>
        <b>东莞市沙田镇港口大道保税物流中心保税大厦6楼</b><br/>
        TEL:0769-88861732&nbsp;&nbsp;FAX:0769-8880422<br/>
      </h5>
      <table>
        <tr>
          <td>户名：</td><td class="content"></td>
        </tr>
        <tr>
          <td>开户行：</td><td class="content"></td>
        </tr>
        <tr>
          <td>卡号：</td><td class="content"></td>
        </tr>
      </table>
      <table  border=1 style="border-collapse:collapse;">
        <thead style="font-weight: bold">
        <tr >
          <td>序号</td>
          <td>客户</td>
          <td>报关单日期</td>
          <td>进/出口</td>
          <td>报关单号</td>
          <% enterprise_fee_codes = [] %>
          <% @finance_declarations[0].enterprise.enterprise_fees.each do |enterprise_fee| %>
              <% fee = Dict::Fee.find_by_code(enterprise_fee.code) %>
              <% if !fee.name.blank? %>
                  <td><%= fee.name  %></td>
                  <% enterprise_fee_codes.append(enterprise_fee.code) %>
              <% end %>
          <% end %>
          <td>金额(RMB)</td>
        </tr>
        </thead>
        <tbody>
        <% v_total_prices = Array.new(enterprise_fee_codes.size + 1, 0) %>
        <% @finance_declarations.each_with_index do |finance_declaration, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= Enterprise.find_by_code(finance_declaration.finances[0].checkout_enterprises[0].code).name %></td>
              <td><%= finance_declaration.declare_date %></td>
              <td><%= Dict::DealMode.find_by_code(finance_declaration.deal_mode).name rescue '' %></td>
              <td><%= finance_declaration.entry_no %></td>
              <% i = 0 %>
              <% total_price = 0 %>
              <% finance_fees = finance_declaration.finances[0].finance_fees %>
              <% enterprise_fee_codes.each_with_index do |enterprise_fee_code,vi| %>
                  <% if i < finance_fees.size and enterprise_fee_code == finance_fees[i].code %>
                      <td><%= price =  Dict::Fee.find_by_code(enterprise_fee_code).price %></td>
                      <% i = i + 1 %>
                      <% total_price = total_price + price %>
                      <% v_total_prices[vi] = v_total_prices[vi] + price %>
                  <% else %>
                      <td> &nbsp; </td>
                  <% end %>
              <% end %>
              <td><%= total_price %></td>
              <% v_total_prices[v_total_prices.size - 1] = v_total_prices[v_total_prices.size - 1] + total_price %>
            </tr>
        <% end %>
        <% page_size  = 23 %>
        <% (page_size - @finance_declarations.size%page_size - 1).times do  %>
            <tr>
            <% (6 + enterprise_fee_codes.size).times do %>
              <td>&nbsp;</td>
            <% end %>
            </tr>
        <% end %>
        <tr>
          <td></td>
          <td>合计</td>
          <td></td>
          <td></td>
          <td></td>
          <% v_total_prices.each do |v_total_price| %>
            <td><%= v_total_price %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="clear"></div>
  <div class='seal-div hideseals' style="display: none" title="拖动图片移动位置">
    <%= image_tag("seal1.png",  :alt => "印章", :class=>"seal", :id=>'seal_left', :width=>'150px', :style=>"z-index:100;cursor:move")  %>
    <span class='delete_seals' title='删除图片' style="position: relative; left:-20px; z-index: 100; cursor: pointer;"><%= image_tag("icons/cross.png") %></span>
  </div>
</div>



