<%= render "shared/error_messages", :model => @contract_consumption %>
<%= form_for(@contract_consumption) do |f| %>
	<%= f.hidden_field :contract_product_id %>	
	<p>
		<label>合同料件</label>
		<% contract_materials_array = @contract_product.contract.contract_materials.map { |contract_material| [contract_material.no + contract_material.name, contract_material.id] } %>
		<%= f.select :contract_material_id, options_for_select(contract_materials_array, @contract_consumption.contract_material_id), {}, { :class => "medium-input first-field" } %>
	  	<br />
	  	<script>
			$(function() {
				$("#contract_consumption_contract_material_id").combobox();
			});
		</script>
	</p>	
	<p>
		<label>单耗</label>
		<%= f.text_field :used, :class => "text-input small-input" %>
	</p>
	<p>
		<label>损耗%</label>
		<%= f.text_field :wasted, :class => "text-input small-input" %>
	</p>		
	<p>
		<%= f.submit :class => "button" %>
	</p>
<div class="clear"></div><!-- End .clear -->
<% end %>
