<div class="content-box">
	<div class="content-box-header">
		<h3>查看单耗 (合同成品:<%= @contract_consumption.contract_product.name %>)</h3>
		<div class="operations">
			<%= link_to '编辑', edit_contract_consumption_path(@contract_consumption) %> |
			<%= link_to '返回', contract_consumptions_path(:contract_product_id => @contract_product.id) %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
						
			<p>
			  <b>料件:</b>
			  <%= @contract_consumption.contract_material.no + @contract_consumption.contract_material.name %>
			</p>
			
			<p>
			  <b>单耗:</b>
			  <%= @contract_consumption.used %>
			</p>
			
			<p>
			  <b>损耗:</b>
			  <%= @contract_consumption.wasted %>
			</p>
		</div>
	</div>
</div>

