<%= render "shared/error_messages", :model => @cargo %>
<%= form_for @cargo do |f| %>
<%= f.hidden_field :enterprise_id %>
<p>
	<label>货物编码</label>
	<%= f.text_field :code, :class => "text-input small-input first-field" %>
	<br />
</p>
<p>
	<label>货物名称</label>
	<%= f.text_field :name, :class => "text-input small-input" %>
	<br />
</p>
<p>
	<label>货物规格</label>
	<%= f.text_field :specification, :class => "text-input small-input" %>
	<br />
</p>
<p>
	<label>申报单位</label>
	<%= render "shared/autocomplete_field", :form => f, :attribute => :unit, :url => dict_units_path, :klass => "text-input small-input" %>
	<br />
</p>
<p>
	<label>第一单位</label>
	<%= render "shared/autocomplete_field", :form => f, :attribute => :unit1, :url => dict_units_path, :klass => "text-input small-input" %>
	<br />
</p>
<p>
	<label>第二单位</label>
	<%= render "shared/autocomplete_field", :form => f, :attribute => :unit2, :url => dict_units_path, :klass => "text-input small-input" %>
	<br />
</p>
<p>
	<label>产销国</label>
	<%= render "shared/autocomplete_field", :form => f, :attribute => :country, :url => dict_countries_path, :klass => "text-input small-input" %>
	<br />
</p>
<p>
	<%= f.submit :class => "button" %>
</p>
<div class="clear"></div><!-- End .clear -->
<% end %> 