<div class="content-box">
	<div class="content-box-header">
		<h3>单位列表</h3>
		<div class="operations">
			<%= link_to '添加新单位', new_dict_unit_path %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<table>
				<thead>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6"> <%= will_paginate @dict_units, :previous_label => '上一页', :next_label => '下一页' %> </td>
					</tr>
				</tfoot>
				<tbody>
					<% @dict_units.each do |dict_unit| %>
					<tr>
						<td><%= link_to dict_unit.code, dict_unit %></td>
						<td><%= link_to dict_unit.name, dict_unit %></td>
						<td> <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_dict_unit_path(dict_unit) %>
						<%= link_to image_tag("icons/cross.png", :alt => "Delete"), dict_unit, confirm: '确定删除?', method: :delete %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
