<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @dict_unit.code %>
</p>

<p>
  <b>Name:</b>
  <%= @dict_unit.name %>
</p>


<%= link_to 'Edit', edit_dict_unit_path(@dict_unit) %> |
<%= link_to 'Back', dict_units_path %>
