<%= render "shared/error_messages", :model => @contract %>
<%= form_for @contract do |f| %>
<fieldset>
	<%= f.hidden_field :enterprise_id %>	
	<p>
		<label>经营单位</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :operate_enterprise, :url => enterprises_path, :klass => "text-input small-input first-field" %> 
	  	<br />
	</p>
	<p>
		<label>外商公司</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :foreign_enterprise, :url => foreign_enterprises_path, :klass => "text-input small-input" %> 
	  	<br />
	</p>
	<p>
		<label>手册编码</label>
		<%= f.text_field :manual, :class => "text-input small-input" %>
	  	<br />
	</p>
	<p>
		<label>贸易方式</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :trade_mode, :url => dict_trade_modes_path, :klass => "text-input small-input" %> 
	  	<br />
	</p>
	<p>
		<label>征免性质</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :tax_kind, :url => dict_tax_kinds_path, :klass => "text-input small-input" %> 
	  	<br />
	</p>
	<p>
		<label>出口合同</label>
		<%= f.text_field :export_contract, :class => "text-input small-input" %>
	 	<br />
	</p>
	<p>
		<label>出口币制</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :export_currency, :url => dict_currencies_path, :klass => "text-input small-input" %> 
	  	<br />
	</p>
	<p>
		<label>出口方式</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :export_deal_mode, :url => dict_deal_modes_path, :klass => "text-input small-input", :min_length => 1 %> 
	 	<br />
	</p>
	<p>
		<label>出口期限</label>
		<%= f.date_select :export_deadline, :class => "text-input small-input" %>
	 	<br />
	</p>
	<p>
		<label>进口合同</label>
		<%= f.text_field :import_contract, :class => "text-input small-input" %>
	  	<br />
	</p>
	<p>
		<label>进口币制</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :import_currency, :url => dict_currencies_path, :klass => "text-input small-input" %> 
	  	<br />
	</p>
	<p>
		<label>进口方式</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :import_deal_mode, :url => dict_deal_modes_path, :klass => "text-input small-input", :min_length => 1 %> 
	  	<br />
	</p>
	<p>
		<label>进口期限</label>
		<%= f.date_select :import_deadline, :class => "text-input small-input" %>
	 	<br />
	</p>
	<p>
		<label>录入时间</label>
		<%= f.date_select :type_in_date, :class => "text-input small-input" %>
	  	<br />
	</p>
	
	<p>
		<%= f.submit :class => "button" %>
	</p>
</fieldset>
<div class="clear"></div><!-- End .clear -->
<% end %>

