<div class="content-box">
	<div class="content-box-header">
		<h3>查看合同(<%= @contract.enterprise.name %>)</h3>
		<div class="operations">
			<%= link_to '成品', contract_products_path(:contract_id => @contract.id) %> |
			<%= link_to '料件', contract_materials_path(:contract_id => @contract.id) %> |
			<% if @contract.contract_products.size > 0 %> <%= link_to '单耗', contract_consumptions_path(:contract_product_id => @contract.contract_products.first.id) %> |<% end %>
			<%= link_to '编辑合同头', edit_contract_path(@contract) %> |
			<%= link_to '返回', contracts_path %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<p>
			  <b>经营单位:</b>
			  <span class="autoload" data-url=<%= enterprises_path %> ><%= @contract.operate_enterprise_code %></span>
			</p>
			
			<p>
			  <b>外商公司:</b>
			  <span class="autoload" data-url=<%= foreign_enterprises_path %> ><%= @contract.foreign_enterprise %></span>
			</p>
			
			<p>
			  <b>手册编码:</b>
			  <%= @contract.manual %>
			</p>
			
			<p>
			  <b>贸易方式:</b>
			  <span class="autoload" data-url=<%= dict_trade_modes_path %> ><%= @contract.trade_mode %></span>
			</p>
			
			<p>
			  <b>征免性质:</b>
			  <span class="autoload" data-url=<%= dict_tax_kinds_path %> ><%= @contract.tax_kind %></span>
			</p>
			
			<p>
			  <b>出口合同:</b>
			  <%= @contract.export_contract %>
			</p>
			
			<p>
			  <b>出口币制:</b>
			  <span class="autoload" data-url=<%= dict_currencies_path %> ><%= @contract.export_currency %></span>
			</p>
			
			<p>
			  <b>出口方式:</b>
			  <span class="autoload" data-url=<%= dict_deal_modes_path %> ><%= @contract.export_deal_mode %></span>
			</p>
			
			<p>
			  <b>出口期限:</b>
			  <%= @contract.export_deadline %>
			</p>
			
			<p>
			  <b>进口合同:</b>
			  <%= @contract.import_contract %>
			</p>
			
			<p>
			  <b>进口币制:</b>
			  <span class="autoload" data-url=<%= dict_currencies_path %> ><%= @contract.import_currency %></span>
			</p>
			
			<p>
			  <b>进口方式:</b>
			  <span class="autoload" data-url=<%= dict_deal_modes_path %> ><%= @contract.import_deal_mode %></span>
			</p>
						
			<p>
			  <b>进口期限:</b>
			  <%= @contract.import_deadline %>
			</p>
			
			<p>
			  <b>录入日期:</b>
			  <%= @contract.type_in_date %>
			</p>
		</div>
	</div>
</div>
