<%= render "shared/error_messages", :model => @item %>
<%= form_for(@item) do |f| %>
<fieldset>
	<p>
		<label>编码</label>
		<%= f.text_field :code, :class => "text-input small-input first-field" %>
		<br />
	</p>
	<p>
		<label>大陆车牌</label>
		<%= f.text_field :name, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>香港车牌</label>
		<%= f.text_field :hk_truck_no, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>IC卡</label>
		<%= f.text_field :ic_card, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>承运单位名称</label>
		<%= f.text_field :corporation_name, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>承运单位组织机构代码</label>
		<%= f.text_field :corporation_code, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>承运单位地址</label>
		<%= f.text_field :corporation_address, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>承运单位电话</label>
		<%= f.text_field :corporation_telephone, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<label>司机姓名</label>
		<%= f.text_field :driver_name, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<%= f.submit :class => "button" %>
	</p>
</fieldset>
<div class="clear"></div><!-- End .clear -->
<% end %>

