<div class="content-box">
<div class="content-box-header">
  <h3>查看申请表(<%= @application.pre_entry_no %>)</h3>

  <div class="operations">
    <% if can? :update, @application %><%= link_to '编辑', edit_application_path(@application) %> |
    <% end %>
    <%= link_to '打印', print_application_application_path(@application), :target => "_blank", :class => "print_button" %> |
    <%= link_to "转入转出货物", application_cargos_path(:application_id => @application.id) %>
    <%= link_to '返回列表', applications_path(:application_type => @application_type) %>
  </div>
</div>
<script>
  $(function(){
    $("#declare_button").click(function () {
      if (confirm('确定要申报吗?')) {
        var url = this.getAttribute("href");
        $.get(url, function (result) {
          //签名
          if(result['xml_content']){
            var signed_data = sign_data(result['xml_content'].trim());
            console.log(result['xml_content'].trim());
            console.log(signed_data);
            $.get('<%= sign_application_path(@application, :format => :json)%>', {signed_data:signed_data}, function(result){
              show_tips(result.type, result.content);
            })
          }
        });
      }
      return false;
    });
  })
</script>
<div class="content-box-content">
  <div class="tab-content default-tab">
    <fieldset>
      <legend>基本信息：</legend>
      <p>
        <b>预录入号:</b>
        <%= @application.pre_entry_no %>
      </p>
      <p>
        <b>申请表编号:</b>
        <%= @application.app_no %>
      </p>
      <p>
        <b>电子口岸号:</b>
        <%= @application.seq_no %>
      </p>
      <p>
        <b>申请表有效期:</b>
        <%= @application.end_date %>
      </p>
    </fieldset>
    <fieldset>
      <legend>转出地申报信息</legend>
      <p>
        <b>转出手册号:</b>
        <% if @application.contract %>
          <%= @application.contract.manual %>
        <% end %>
      </p>
      <p>
        <b>转出企业:</b>
        <span class="autoload" data-url=<%= enterprises_path %>><%= @application.trade_code %></span>
      </p>
      <p>
        <b>转入企业:</b>
        <span class="autoload" data-url=<%= enterprises_path %>><%= @application.in_trade_code %></span>
      </p>
      <p>
        <b>转出地海关:</b>
        <span class="autoload" data-url=<%= dict_customs_path %>><%= @application.mast_cust %></span>
      </p>
      <p>
        <b>转出地:</b>
        <span class="autoload" data-url=<%= dict_districts_path %>><%= @application.dict_code %></span>
      </p>
      <p>
        <b>目的地:</b>
        <span class="autoload" data-url=<%= dict_districts_path %>><%= @application.in_dict_code %></span>
      </p>
      <p>
        <b>转出批准证编号:</b>
        <%= @application.lice_no %>
      </p>
      <p>
        <b>转出企业内部编号:</b>
        <%= @application.cop_app_no %>
      </p>
      <p>
        <b>企业合同号:</b>
        <%= @application.contr_no %>
      </p>
      <p>
        <b>申报企业:</b>
        <span class="autoload" data-url=<%= enterprises_path %>><%= @application.agent_code %></span>
      </p>
      <p>
        <b>申报日期:</b>
        <%= @application.d_date %>
      </p>
      <p>
        <b>送货距离（公里）:</b>
        <%= @application.convey_spa %>
      </p>
      <p>
        <b>预计运输耗时（天）:</b>
        <%= @application.convey_day %>
      </p>
      <p>
        <b>转出企业法人/联系电话:</b>
        <%= @application.corp %>
      </p>
      <p>
        <b>转出申报人/联系电话:</b>
        <%= @application.decl %>
      </p>
      <p>
        <b>申请表类型:</b>
        <%= @application.app_class ? "加工区的深加工结转":"加工贸易企业保税货物的深加工结转"%>
      </p>
      <p>
        <b>备注:</b>
        <%= @application.note %>
      </p>
    </fieldset>
    <fieldset>
      <legend>转入地申报信息</legend>
      <p>
        <b>转入手册号:</b>

      </p>
      <p>
        <b>转入企业内部编号:</b>
        <%= @application.in_cop_app_no %>
      </p>
      <p>
        <b>转入地海关:</b>
        <span class="autoload" data-url=<%= dict_customs_path %>><%= @application.in_mast_cust %></span>
      </p>
      <p>
        <b>转入申报企业:</b>
        <span class="autoload" data-url=<%= enterprises_path %>><%= @application.in_agent_code %></span>
      </p>
      <p>
        <b>转入申报日期:</b>
        <%= @application.in_d_date %>
      </p>
      <p>
        <b>转入企业法人/联系电话:</b>
        <%= @application.in_corp %>
      </p>
      <p>
        <b>转入申报人/联系电话:</b>
        <%= @application.in_decl %>
      </p>
      <p>
        <b>备注:</b>
        <%= @application.in_note %>
      </p>
    </fieldset>
  </div>
</div>
</div>

<div class="content-box">
  <div class="content-box-header">
    <h3>申报记录</h3>
    <div class="operations">
      <% if can? :declare, @application %>
        <%= link_to '申报', declare_application_path(@application, :format => :json), :id => "declare_button" %>
      <% end %>
    </div>
  </div>
  <div class="content-box-content">
    <div class="tab-content default-tab">
      <table>
        <thead>
        <tr>
          <th>时间</th>
          <th>报文序号</th>
          <th>状态</th>
          <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <% chk_status = {'1' => '成功生成报文',
                         '2' => '数据申报成功',
                         '4' => '成功入数据中心库',
                         '5' => '入数据中心库失败',
                         '6' => '成功发往海关',
                         '8' => '成功入海关库',
                         '9' => '成功入海关库',
                         'A' => '成功入海关库(自动审核检查通过)',
                         'B' => '审批通过（包括收发/退货单撤销失败）',
                         'C' => '审核退单',
                         'P' => '撤销成功(加工区转出方已出区撤销发货)',
                         'Q' => '审核通过(发货待出区审核通过、退货待入区审核通过)',
                         'S' =>  '撤销成功',
                         '0' => 'QP接收成功',
                         'X' => '下载成功',
                         'Y' => 'QP入库成功',
                         'Z' => 'QP处理失败'
        }

        %>
        <% @application.app_bill_dispatch_records.each do |record| %>
          <tr>
            <td><%= record.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= record.ret_no %></td>
            <td><%= chk_status[record.chk_status] %></td>
            <td><%= record.note %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<OBJECT classid="clsid:2737432E-8F80-465A-9BE8-9936DC5CAC30" height=14 id=SCAClient
        style="LEFT: 0px; TOP: 0px; VISIBILITY: hidden" width=14 border="0">
  <PARAM NAME="_ExtentX" VALUE="370">
  <PARAM NAME="_ExtentY" VALUE="370">
</OBJECT>
