<%= render "shared/error_messages", :model => @check_method %>
<%= form_for @check_method do |f| %>
    <fieldset>
      <p >
        <%= f.hidden_field :from %>
        <%= f.hidden_field :to %>
        <label>结算方式</label>
        <% methods = [["现金" , "现金"], ["汇款","汇款"]] %>
        <%= f.select :method, methods, {}, :id => "method_combobox", :class => "text-input small-input" %>
        <%# f.text_field :method, :class => "text-input small-input first-field" %>
        <label>费用</label>
        <%= f.text_field :price, :class => "text-input small-input first-field" %>
       </p>
    </fieldset>
    <div>
      <%= f.submit :class => "button" %>
    </div>
    <div class="clear"></div><!-- End .clear -->
<% end %>


