<div class="content-box">
	<div class="content-box-header">
		<h3>我的资料</h3>
		<div class="operations">
			<%= link_to '编辑', detail_modify_path %> 
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<p>
				<b>用户名</b>：<%= @user.username %>
			</p>
			<p>
				<b>姓名</b>：<%= @user.name %>
			</p>
			<p>
				<b>邮箱</b>：<%= @user.email %>
			</p>
			<p>
				<b>手机</b>：<%= @user.phone %>
			</p>
			<p>
				<b>密码</b>：******
			</p>
			<p>
				<b>我的用户角色</b>：<%= @user.roles %>
			</p>
		</div>
	</div>
</div>
