<div class="content-box">
	<div class="content-box-header">
		<h3>为 <%= @user.name %> 添加授权企业</h3>
		<div class="operations">
			<%= link_to '返回用户页面', @user %>
		</div>
	</div>
	<div class="content-box-content">
		<%= form_for ManageRelationship.new do |f| %>
		<p>
			<input name="user_id" type="hidden" value="<%= @user.id %>"/>
			<label>选择要授权的企业</label>
			<input id="enterprise_autocomplete" name="enterprise_code" class="text-input medium-input first-field" type="text" data-url="<%= enterprises_path %>" data-minLength="2" >
			&nbsp;&nbsp;
			<input class="button" type="submit" value="新增授权企业" name="commit">
			<br />
			<small id="enterprise_autocomplete_label">输入组织机构代码或名字</small>
		</p>		
		<div class="clear"></div><!-- End .clear -->
		<% end %>
	</div>
</div>

<script>
	$(function(){
		$(".content-box-content input").unbind('keypress');
	});
</script>

<div class="content-box">
	<div class="content-box-header">
		<h3><%= @user.name %> 的授权企业列表</h3>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<table>
				<thead>
					<tr>
						<th>组织机构代码</th>
						<th>单位名称</th>
						<th>授权时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6"> <%= will_paginate @enterprises %> </td>
					</tr>
				</tfoot>
				<tbody>
					<% @enterprises.each do |enterprise| %>
					<% manage_relationship = @user.manage_relationships.find_by_enterprise_id(enterprise.id) %>
					<tr>
						<td><%= enterprise.code %></td>
					    <td><%= enterprise.name %></td>
					    <td><%= manage_relationship.updated_at.strftime('%Y-%m-%d %H:%M:%S')  %></td>
					    <td><%= link_to image_tag("icons/cross.png", :alt => "取消授权", :title => "取消授权"), manage_relationship, confirm: '确定取消授权?', method: :delete %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
