<div class="content-box">
	<div class="content-box-header">
		<h3>用户列表</h3>
		<div class="operations">
			<%= link_to '添加新用户', new_user_path %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<table>
				<thead>
					<tr>
						<th>用户名</th>
						<th>姓名</th>
						<th>电子邮件</th>
						<th>电话</th>
						<th>操作</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6"> <%= will_paginate @users, :previous_label => '上一页', :next_label => '下一页' %> </td>
					</tr>
				</tfoot>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= link_to user.username, user %></td>
						<td><%= link_to user.name, user %></td>
						<td><%= user.email %></td>
						<td><%= user.phone %></td>
						<td> <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_user_path(user) %>
						<%= link_to image_tag("icons/cross.png", :alt => "Delete"), user, confirm: '确定删除?', method: :delete %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
