<%= javascript_include_tag "jquery.ui.datepicker.min" %>
<%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>

<%= stylesheet_link_tag "jquery.ui.datepicker.min", :media => "all" %>
<%= stylesheet_link_tag "jquery.ui.theme.min", :media => "all" %>
<style>
    .left, .right {
        width: 48%;
        display: inline-block;
        line-height: 2.0em;
    }

    label {
        font-weight: bold;
    }
</style>
<script>
    $(function(){
        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });
    })
</script>
<!-- Loading begin -->
<div id="wrapper" class='wrappers'>
  <div style="display: none;" id="overlay" class="overlays">
  </div>
  <div style="display: none;font-size: 16px;font-weight: bold;color: orange" id="popup" class="popups">
    正在统计中...
  </div>
</div>
<!-- Loading end -->
<div id="search_form" style="width:90%;display: inline-block">

  <div id="enterprise_selector_form" class="left">
    <label style="display: inline;">收发货单位</label>
    <select name="current_enterprise_id" id="current_enterprise_id" class="medium-input ">
      <option value="044199">东莞所有企业</option>
      <% current_user.enterprises.each do |enterprise| %>
          <option value="<%= enterprise.id %>">
            <%= enterprise.code + enterprise.name %>
          </option>
      <% end %>
    </select>
    <% if content_for? :enterprise_selector_extra %>
        <%= yield :enterprise_selector_extra %>
    <% end %>
  </div>

  <div class="right "><label>手册编号</label>
    <select name="contract_id" id="contract_id" class="medium-input ">
      <option value="">所有报关单</option>
    </select>
  </div>

  <div class="left"><label>报关类型&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="radio" name='declaration_type' value="1" checked='true'/>进口和出口
    <input type="radio" name='declaration_type' value="2"/>进口
    <input type="radio" name='declaration_type' value="3"/>出口
  </div>

  <div class="right"><label>时间&nbsp;&nbsp;&nbsp;</label>
    <label for="from">从</label>
    <input type="text" id="from" name="from" style="width: 80px"/>
    <label for="to">到</label>
    <input type="text" id="to" name="to" style="width: 80px"/>
  </div>

  <div class="left"><label>审核类型&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="radio" name='review_type' value="1" checked='true'/>全部
    <input type="radio" name='review_type' value="2"/>已审
    <input type="radio" name='review_type' value="3"/>未审
  </div>

  <div class="right">
    <label>申报现场</label>
    <select name="custom" id="custom" class="medium-input ">
      <option value=""></option>
      <% Dict::LoadPort.all.each do |load_port| %>
          <option value="<%= load_port.code %>">
            <%= dict_name_and_code Dict::Custom, load_port.custom_code %>
          </option>
      <% end %>
    </select>
  </div>

  <div class="left">
    <input type="button" value="查询" id="search">
    <input type="button" value="预览&打印" id="print">
  </div>
</div>