
<%= csrf_meta_tags %>
<%= javascript_include_tag "jquery.ui.datepicker.min" %>
<%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>

<%= stylesheet_link_tag "jquery.ui.datepicker.min", :media => "all" %>
<%= stylesheet_link_tag "jquery.ui.theme.min", :media => "all" %>

<script>

    $(function () {
        //global variable
        var result;

        function getFormData(form) {
            var json = {};
            var formData = $(form);
            for (var i = 0; i < formData.length; i++) {
                if (formData[i].type == 'radio') {
                    json[formData[i].name] = formData[i].checked ? formData[i].value : json[formData[i].name];
                } else {
                    json[formData[i].name] = formData[i].value;
                }
            }
            return json;
        }

        function td() {
            return $('<td/>');
        }



        $("#current_enterprise_id").change(function () {
            $('#contract_id').css({disabled: true}).addClass('grey')
            $.post(
                    '/select_enterprise',
                    {
                        url: '/declarations/manage',
                        current_enterprise_id: $("#current_enterprise_id").val()
                    },
                    function () {
                        $('#contract_id').css('disabled', false).removeClass('grey')
                        $.get(
                                '/contracts.json',
                                {},
                                function (result) {
                                    var select = $('#contract_id');
                                    select.html('<option  value="">所有报关单</option>');
                                    for (var i = 0; i < result.length; i++) {
                                        var option = $('<option/>').val(result[i].id).html(result[i].manual);
                                        select.append(option);
                                    }
                                }
                        )
                    }
            )
        });

        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });

        $('#search').click(function () {
            result = undefined
            $('tbody').html('');
            $('#nav_div').html('');

            //global variables
            enterprise_name = $('#current_enterprise_id').find(":selected").text().trim();
            manual = $('#contract_id').find(":selected").text().trim();
            from = $('#from').val().trim();
            to = $('#to').val().trim();
            //global variables

//            alert(enterprise_name)

            if(!enterprise_name){
                alert('请选择收发货企业')
                return
            }

            var json = getFormData('#search_form select[name], #search_form input[name]');
            if ((json['from'] || json['to']) && !(json['from'] && json['to'])) {
                json['from'] = json['from'] ? json['from'] : '1990-01-01';
                json['to'] = json['to'] ? json['to'] : '2100-12-01';
            }
            switch (json['declaration_type']) {
                case '1':
                    json['declaration_type'] = '';
                    break;
                case '2':
                    json['declaration_type'] = 'import';
                    break;
                default :
                    json['declaration_type'] = 'export';
            }
            popUp('popup','overlay');
            $.get('/declarations/manage.json', json, paginate)
        })

        function paginate(search_result){
            result = search_result;
            var page_size = 25;
            var total_pages = result.length/page_size;
            if(result.length == 0){
                alert('没有结果');
                popOff('popup','overlay');
                return;
            }
            display_page(0, page_size);
            display_nav(0,total_pages, page_size);

            popOff('popup','overlay');
        }

        function display_page(page_num,page_size) {
            var tbody = $('tbody');
            tbody.html('');
            for (var i = page_num*page_size; i < result.length && i < (page_num+1) * page_size; i++) {
                var tr = $('<tr/>');
                if (i % 2 == 1) {
                    tr.css('background-color', '#e5ebe4');
                }
                var ith_result = result[i];
                var review_type_operate = '';
                var review_type = ith_result.review_type
                if(review_type == 0){
                    review_type_operate = '强制为已审';
                }
                else if(review_type == 3 || review_type == 4){
                    review_type_operate = '取消已审';
                }
//                tr.append(td().html(i + 1));
                tr.append(td().html(ith_result.entry_no));
                tr.append(td().html(ith_result.pre_entry_no));
                tr.append(td().html(ith_result.declare_date));
                tr.append(td().html(''));
                tr.append(td().html(ith_result.declaration_type == 'export' ? '出口' : '进口'));
                tr.append(td().html(operate(review_type, review_type_operate,'review_type',ith_result.id)));
                tr.append(td().html(ith_result.is_deleted ? operate('是','取消', 'is_deleted', ith_result.id):operate('否','删除', 'is_deleted', ith_result.id)));
                tr.append(td().html(ith_result.is_paperless ? operate('是','取消', 'is_paperless', ith_result.id):operate('否',"强制为无纸", 'is_paperless', ith_result.id)));
                tr.append(td().html(ith_result.is_paperless_deleted ? operate('是','取消','is_paperless_deleted', ith_result.id):operate('否',"强制为无纸删单", 'is_paperless_deleted', ith_result.id)));
                tbody.append(tr);
            }
            operate_listener();
        }

        function display_nav(current_page, total_pages, page_size){
             var nav_div = $('#nav_div');
             nav_div.html('');
             for(var i = 0; i < total_pages; i++){
                 var a = $('<a/>').html(i+1).css('cursor','pointer').addClass('navs');
                 if(i==current_page){
                     a.addClass('current');
                 }
                 nav_div.append(a);
             }
//            $('table').after(nav_div);
            var pre = current_page;
            var navs = $('.navs');
            navs.each(function(i){
                $(this).click(function(){
                    if(i!=pre){
                        $(navs[pre]).removeClass('current');
                        $(navs[i]).addClass('current');
                        pre = i;
                        display_page(i,page_size);
                    }
                })
            })
        }

        function operate(yes_no,text, className,id){
            var span = $('<span/>');
            span.append($('<span/>').html(yes_no));
            if(text){
                span.append($('<input/>').attr({'type':'button','id':id}).val(text).addClass(className))
            }
            return span;
        }

        function operate_listener(){
            var classNames = ['is_deleted',"is_paperless",'is_paperless_deleted','review_type'];
            var text = ['删除',"强制为无纸","强制为无纸删单",'强制为已审'];
            var url = '/declarations/toggle.json'
            for(var i = 0; i < classNames.length; i++){
                $('.' + classNames[i]).click(function(i){
                    return function(){
                        var that = $(this);
                        var prev = that.prev();
                        var is_yes;
                        if(i == 3){
                            is_yes = !(prev.html() == 0);
                        }else{
                            is_yes = prev.html() =='是';
                        }
                        $.post(url,{is_yes:is_yes, declaration_type:'',id:that.attr('id'), type:classNames[i]},function(){
                            if(i == 3){
                                prev.html(is_yes ? 0:3);
                                that.val(is_yes ? text[i] :'取消已审');
                            }else{
                                prev.html(is_yes ? '否':'是');
                                that.val(is_yes ? text[i] :'取消');
                            }
                        })
                    }
                }(i));
            }



        }
        $('#print').click(function(){
            if(result){
                window.open(encodeURI('/declarations/print_declarations?declaration_type=&enterprise_name='+
                        enterprise_name +'&manual='+
                        manual +'&from='+
                        from +'&to=' +
                        to + '&cache_name=' +
                        result[0]['cache_name']));
            }else{
                alert('没有结果，打印不了');
            }
        })

    });
</script>
<style>
    .left, .right {
        width: 48%;
        display: inline-block;
        line-height: 2.0em;
    }

    label {
        font-weight: bold;
    }

    thead tr td {
        font-weight: bold;
    }

    .medium-input {
        width: 320px;
    }

    .grey {
        background-color: #e2e2e2;
    }

    .navs{
        display: inline-block;
    }
</style>

<!-- Loading begin -->
<div id="wrapper" class='wrappers'>
  <div style="display: none;" id="overlay" class="overlays">
  </div>
  <div style="display: none;font-size: 16px;font-weight: bold;color: orange" id="popup" class="popups">
    正在统计中...
  </div>
</div>
<!-- Loading end -->

<div id="search_form" style="width:70%;display: inline-block">

  <div id="enterprise_selector_form" class="left">
    <label style="display: inline;">收发货单位</label>
    <select name="current_enterprise_id" id="current_enterprise_id" class="medium-input ">
      <option value=""></option>
      <% current_user.enterprises.each do |enterprise| %>
          <option value="<%= enterprise.id %>">
            <%= enterprise.code + enterprise.name %>
          </option>
      <% end %>
    </select>
    <% if content_for? :enterprise_selector_extra %>
        <%= yield :enterprise_selector_extra %>
    <% end %>
  </div>

  <div class="right "><label>手册编号</label>
    <select name="contract_id" id="contract_id" class="medium-input ">
      <option value="">所有报关单</option>
    </select>
  </div>

  <div class="left"><label>报关类型&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="radio" name='declaration_type' value="1" checked='true'/>进口和出口
    <input type="radio" name='declaration_type' value="2"/>进口
    <input type="radio" name='declaration_type' value="3"/>出口
  </div>

  <div class="right"><label>时间&nbsp;&nbsp;&nbsp;</label>
    <label for="from">从</label>
    <input type="text" id="from" name="from" style="width: 80px"/>
    <label for="to">到</label>
    <input type="text" id="to" name="to" style="width: 80px"/>
  </div>

  <div class="left"><label>审核类型&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="radio" name='review_type' value="1" checked='true'/>全部
    <input type="radio" name='review_type' value="2"/>已审
    <input type="radio" name='review_type' value="3"/>未审
  </div>

  <div class="right">
    <input type="button" value="查询" id="search">
    <input type="button" value="预览&打印" id="print">
  </div>
</div>
<div id="notice" style="width:29%;display: inline-block">
  <div style="color: red">关于已审类型的说明：</div>
  <div>0类：未审核通过报关单</div>
  <div>1类：海关已审，且是正常走单</div>
  <div>2类：人工录入海关已审报关单</div>
  <div>3类：强制已审，走单报关单</div>
  <div>注意：走单情况只统计类型为1，3的报关单；重量传输，进口料件</div>
</div>

<hr/>

<table>
  <thead class="ui-state-default">
  <tr>
    <!--<td>序号</td>-->
    <td>海关编号</td>
    <td>预录入号</td>
    <td>申报日期</td>
    <td>放行日期</td>
    <td>报关单类型</td>
    <td>已审类型</td>
    <td>是否删除</td>
    <td>是否为无纸报关</td>
    <td>是否为无纸删单</td>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<div class="pagination" id="nav_div" ></div>

