<style type="text/css">
    body {
        text-align: left;
        font-size: 16px;
    }

    .frame {
        margin: 0 auto;
        width: 675px;
        text-align: left;
    }

    .tr {
        padding: 1px 0 1px 0;
    }

    .table {
        border: 1px solid;
    }

    .table .tr {
        padding: 0;
        height: 32px;
        line-height: 32px;
        border-bottom: solid 1px;
    }

    .table .tr:last-child {
        border-bottom: none;
    }

    .table .tr .td {
        border-right: solid 1px;
        text-align: center;
    }

    .table .tr .td:last-child {
        border-right: none;
    }




</style>

<div class="frame">

  <!--设置-->
  <% statistic_declarations_size = @statistic_declarations.size %>
  <% page_size = 42 %>
  <% pages = statistic_declarations_size/page_size + 1 %>
  <% (0..pages - 1).each do |page_count| %>
      <!--每一页的内容-->
      <div class="tr" style="height: 80px;"></div>
      <div class="tr" style="height: 80px; text-align: center; font-size: 35px;">进出口重量总价统计</div>
      <div class="tr" style="height: 20px;"></div>
      <div class="table">
        <div class="tr" style="height: 50px; line-height:50px;">
          <div class="td" style="width:35px;">序号</div>
          <div class="td" style="width:150px;">申报日期</div>
          <div class="td" style="width:152px;">海关编号</div>
          <div class="td" style="width:150px;">预录入号</div>
          <div class="td" style="width:100px;">批准文号</div>
          <div class="td" style="width:80px;">车牌号</div>
        </div>
        <% start = page_count*page_size %>
        <% tail = (page_count + 1) * page_size - 1 > statistic_declarations_size ? statistic_declarations_size : (page_count + 1) * page_size - 1 %>
        <!--每一项-->
        <% @statistic_declarations[start..tail].each_with_index do |statistic_declaration, i| %>
            <div class="tr">
              <div class="td" style="width:35px;">
                <span ><%= i+1 %></span>
              </div>
              <div class="td" style="width:150px;">
                <span >&nbsp;<%= statistic_declaration.declare_date %>&nbsp;</span>
              </div>
              <div class="td" style="width:152px;">
                <span >&nbsp;<%= statistic_declaration.entry_no %>&nbsp;</span>
              </div>
              <div class="td" style="width:150px;">
                <span >&nbsp;<%= statistic_declaration.pre_entry_no %>&nbsp;</span>
              </div>
              <div class="td" style="width:100px;">
                <span >&nbsp;<%= statistic_declaration.certification %>&nbsp;</span>
              </div>
              <div class="td" style="width:80px;">
                <span >&nbsp;<%= statistic_declaration.truck %>&nbsp;</span>
              </div>
            </div>
        <% end %>
      </div>
      <div class="tr" style="height: 20px;"></div>
  <% end %>

</div>