<style type="text/css">
    body {
        text-align: left;
        font-size: 16px;
    }

    .frame {
        margin: 0 auto;
        width: 700px;
        text-align: left;
    }

    .tr {
        padding: 1px 0 1px 0;
    }

    .table {
        border: 1px solid;
    }

    .table .tr {
        padding: 0;
        height: 22px;
        line-height: 22px;
        border-bottom: solid 1px;
    }

    .table .tr:last-child {
        border-bottom: none;
    }

    .table .tr .td {
        border-right: solid 1px;
        text-align: center;
    }

    .table .tr .td:last-child {
        border-right: none;
    }

    .left {
        width: 34%;
    }

    .right {
        width: 64%;
    }

</style>

<% contract = @declaration.contract %>

<div class="frame">
  <!--<div class="tr" style="height: 80px;"></div>-->
  <div class="tr" style="height: 35px; text-align: center; font-size: 22px;">代理报关委托书</div>
  <div class="tr">
    <div class="td" style="width:70%">&nbsp;</div>
    <div class="td" style="width:30%">编号:
      <span class="content">00091888751</span>
    </div>
  </div>

  <div class="tr" style="height: 20px;"></div>
  <div class="tr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我单位现<span class="content">A</span>（A&nbsp;逐票、B&nbsp;长期）委托贵公司代理<span class="content">A</span> 等通关事宜。（A、填单申报&nbsp;B、辅助查验&nbsp;
    C、垫缴税款&nbsp;D、办理海关证明联&nbsp;E、审批手册&nbsp;F、核销手册&nbsp;G、申办减免税手续&nbsp;H、其他）详见《委托报关协议》。
  </div>
  <div class="tr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我单位保证遵守《海关法》和国家有关法规，保证所提供的情况真实、完整、单货相符。否则，愿承担相关法律责任。
  </div>
  <% d = Time.now %>
  <div class="tr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本委托书有效期自签字之日起至
    <span class="content"><%=d.year()%></span>年<span class="content"><%=d.mon()+1%></span>月<span class="content"><%=d.mday()%></span>日止。
  </div>
  <div class="td" style="width:60%">&nbsp;</div>
  <div class="td" style="width:40%">委托方（盖章）
  </div>
  <div class="tr" style="height: 20px;"></div>
  <div class="td" style="width:20%">&nbsp;
  </div>
  <div class="td">法定代表人或其授权签署《代理报关委托书》的人（签字）
  </div>
  <div class="td" style="width:85%">&nbsp;
  </div>
  <div class="td">
    <span class="content"><%=d.year()%></span>年<span class="content"><%=d.mon()%></span>月<span class="content"><%=d.mday()%></span>日
  </div>
  <div class="tr" style="height: 40px; text-align: center; font-size: 26px;">委托报关协议</div>
  <div class="tr">为明确委托报关具体事项和各自责任，双方经平等协商如下：
  </div>
  <div class="table" style="width:48%;display: inline-block">
    <div class="tr">
      <div class="td left">委托方</div>
      <div class="td right"><span class="content"><%= current_enterprise.name  %></span></div>
    </div>
    <div class="tr">
      <div class="td left">主要货物名称</div>
      <div class="td right"><span class="content"><%= @major_cargo.name %></span></div>
    </div>
    <div class="tr">
      <div class="td left">HS编码</div>
      <div class="td right"><span class="content"><%= @major_cargo.code %></span></div>
    </div>
    <div class="tr">
      <div class="td left">货物总价</div>
      <div class="td right"><span class="content"><%= @total_price %></span></div>
    </div>
    <div class="tr">
      <div class="td left">进出口日期</div>
      <div class="td right">
        <span class="content"><%=d.year()%></span>年<span class="content"><%=d.mon()%></span>月<span class="content"><%=d.mday()%></span>日
      </div>
    </div>
    <div class="tr">
      <div class="td left">提单号</div>
      <div class="td right"><span class="content"><%= @declaration.bill_no %></span></div>
    </div>
    <div class="tr">
      <div class="td left">贸易方式</div>
      <div class="td right"><span class="content autoload"  data-url='/dict/trade_modes'><%= @declaration.trade_mode %></span></div>
    </div>
    <div class="tr">
      <div class="td left">原产地/货源地</div>
      <div class="td right"><span class="content autoload"  data-url='/dict/countries'><%= @major_cargo.trade_country  %></span></div>
    </div>
    <div class="tr" style="height: 198px;">
      <div class="td">其他要求：</div>
    </div>
    <div class="tr" style="height: 66px;">
      <div class="td" >背面所列通用条款是本协议不可分割的一部分，对本协议的签署构成了对背面通用条款的同意</div>
    </div>
    <div style="height: 110px">
      <div >委托方业务签单：</div>
    </div>
    <div >
      <div >经办人签单：</div>
    </div>
    <div style="height: 66px">
      <div style="width:65%;display: inline-block">联系电话：</div>
      <div style="width:30%;display: inline-block">
        <span class="content"><%=d.year()%></span>年<span class="content"><%=d.mon()%></span>月<span class="content"><%=d.mday()%></span>日
      </div>
    </div>

  </div>
  <div style="width:1%;display: inline-block"></div>

  <div class="table" style="width:48%;display: inline-block">
    <div class="tr">
      <div class="td left">被委托方</div>
      <div class="td right"><span class="content">新泽报关公司</span></div>
    </div>
    <div class="tr">
      <div class="td left">*报关单编码</div>
      <div class="td right"><span class="content"><%= @declaration.entry_no %></span></div>
    </div>
    <div class="tr">
      <div class="td left">收到单证日期</div>
      <div class="td right">
        <span class="content"><%=d.year()%></span>年<span class="content"><%=d.mon()%></span>月<span class="content"><%=d.mday()%></span>日
      </div>
    </div>
    <!-- todo -->
    <div class="tr" style="height: 88px; ">
      <div class="td left" style="height: 88px;line-height: 86px; ">
        收到单证情况
      </div>
      <div class="td right"  >
        <div class="tr">
          <div class="td" style="width: 49%;">合同<span class="content"><%= @declaration.contract_no == nil ? '':'√ ' %></span></div>
          <div class="td" style="width: 49%;">发票</div>
        </div>
        <div class="tr">
          <div class="td" style="width: 49%;">装箱清单<span class="content"><%= @declaration.declaration_packings.size == 0 ? '':'√ ' %></span></div>
          <div class="td" style="width: 49%;">提(运)单</div>
        </div>
        <div class="tr">
          <div class="td" style="width: 49%;">加工贸易手册<span class="content"><%= @declaration.declaration_packings.size == 0 ? '':'√ ' %></span></div>
          <div class="td" style="width: 49%;">许可证件</div>
        </div>
        <div class="tr">
          <div class="td" style="width: 98%;text-align: left">&nbsp;&nbsp;其他</div>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td left">报关收费</div>
      <div class="td right" style="text-align: left" >&nbsp;&nbsp;人民币：
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元
      </div>
    </div>
    <div class="tr" style="height: 198px;">
      <div class="td">承诺说明：</div>
    </div>
    <div class="tr"  style="height: 66px;">
      <div class="td" >背面所列通用条款是本协议不可分割的一部分，对本协议的签署构成了对背面通用条款的同意</div>
    </div>
    <div style="height: 110px">
      <div >被委托方业务签单：</div>
    </div>
    <div >
      <div >经办报关员签单：</div>
    </div>
    <div style="height: 66px">
      <div style="width:65%;display: inline-block">联系电话：</div>
      <div style="width:30%;display: inline-block">
        <span class="content"><%=d.year()%></span>年<span class="content"><%=d.mon()%></span>月<span class="content"><%=d.mday()%></span>日
      </div>
    </div>
  </div>


  <div class="tr" style="height: 20px;"></div>
</div>