<style type="text/css">
    @page {
        size: portrait;
    }

    body {
        text-align: left;
        font-size: 14px;
    }

    .frame {
        margin: 0 auto;
        width: 1069px;
        text-align: left;
    }

    .tr {
        padding: 1px 0 1px 0;
    }

    .table {
        border: 1px solid;
    }

    .table .tr {
        padding: 0;
        height: 24px;
        line-height: 24px;
        border-bottom: solid 1px;
    }

    .table .tr:last-child {
        border-bottom: none;
    }

    .table .tr .td {
        border-right: solid 1px;
        text-align: center;

    }

    .table .tr .td:last-child {
        border-right: none;
    }




</style>

<div class="frame">

  <!--设置-->
  <% products_size = @products.size %>
  <% page_size = 54 %>
  <%
     pages = products_size/page_size
     if products_size % page_size !=0
       pages += 1
     end
  %>
  <% (0..pages - 1).each do |page_count| %>
      <!--每一页的内容-->
      <div class="tr" style="height: 80px; text-align: center; font-size: 35px;">合 同 成 品 出 口 情 况 表</div>
      <div class="tr">
        <div class="td" style="width:50%"><span class="bord">企业名称：</span><span class="content"><%=  @enterprise_name %></span></div>
        <div class="td" style="width:24%"><span class="bord">手册：</span><span class="content"><%= @manual  %></span></div>
        <div class="td" style="width:24%"><span class="bord">申报现场：</span><span class="content"><%= @custom_name  %></span></div>
      </div>

      <div class="tr">
        <div class="td" style="width:50%;"><span class="bord">统计时间：</span>截止<span class="content"><%= @to.nil? || @to == '' ? Time.new.strftime("%Y-%m-%d") : @to %></span></div>
        <div class="td" style="width:48%;"><span class="bord">合计：</span><span class="content"><%= pages  %></span>份</div>
      </div>
      <div class="tr" style="height: 15px;"></div>
      <div class="table">
        <div class="tr" style="height: 50px; line-height:50px;">
          <div class="td" style="width:35px;">序号</div>
          <div class="td" style="width:180px;">成品名称</div>
          <!--<div class="td" style="width:80px;">单位</div>-->
          <div class="td" style="width:80px;">合同数量</div>
          <div class="td" style="width:80px;">
            <div style="height: 25px;line-height: 25px">实际</div>
            <div style="height: 25px;line-height: 25px">出口数量</div>
          </div>
          <div class="td" style="width:80px;">可出口数</div>
          <div class="td" style="width:80px;">
            <div style="height: 25px;line-height: 25px">返工</div>
            <div style="height: 25px;line-height: 25px">进口数量</div>
          </div>
          <div class="td" style="width:80px;">
            <div style="height: 25px;line-height: 25px">返工</div>
            <div style="height: 25px;line-height: 25px">复出数量</div>
          </div>
          <div class="td" style="width:80px;">转厂数量</div>
          <div class="td" style="width:50px;">出口率</div>
          <div class="td" style="width:80px;">合同单价</div>
          <div class="td" style="width:80px;">
            <div style="height: 25px;line-height: 25px">合同</div>
            <div style="height: 25px;line-height: 25px">单价金额</div>
          </div>
          <div class="td" style="width:80px;">
            <div style="height: 25px;line-height: 25px">报关单统</div>
            <div style="height: 25px;line-height: 25px">计总金额</div>
          </div>
          <div class="td" style="width:70px;">金额差</div>
        </div>
        <% start = page_count*page_size %>
        <% tail = (page_count + 1) * page_size - 1 > products_size ? products_size : (page_count + 1) * page_size - 1 %>
        <!--每一项-->
        <% @products[start..tail].each_with_index do |product, i| %>
            <div class="tr">
              <div class="td" style="width:35px;">
                <span class="content"><%= product.no %></span>
              </div>
              <div class="td" style="width:180px;text-align: left;  height: 24px;
                      overflow:hidden;
                      text-overflow:ellipsis;">
                &nbsp;<span class="content"><%= product.name %></span>
              </div>
              <!--<div class="td" style="width:80px;">-->
              <!--<span class="content"><%= dict_name(Dict::Unit, product.unit) %></span>-->
              <!--</div>-->
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.0f",product.quantity %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.1f",product.export_sum %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.0f",product.can_export_sum %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.0f",product.rework_import_sum %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.0f",product.rework_again_sum %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.0f",product.transfer_sum %></span>&nbsp;
              </div>
              <div class="td" style="width:50px;text-align: right;">
                <span class="content"><%= product.export_rate %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= product.unit_price %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.1f",product.contract_price %></span>&nbsp;
              </div>
              <div class="td" style="width:80px;text-align: right;">
                <span class="content"><%= sprintf "%0.1f",product.export_price %></span>&nbsp;
              </div>
              <div class="td" style="width:70px;text-align: right;">
                <span class="content"><%= sprintf "%0.1f",product.diff_price %></span>&nbsp;
              </div>
            </div>
        <% end %>
        <!--填充使满页-->
        <% ((page_count + 1) * page_size - 1 - products_size).times do %>
            <div class="tr">
              <div class="td" style="width:35px;">&nbsp;</div>
              <div class="td" style="width:180px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:50px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:80px;">&nbsp;</div>
              <div class="td" style="width:70px;">&nbsp;</div>
            </div>
        <% end %>
      </div>
      <div class="tr" style="height: 10px;"></div>
  <% end %>

</div>