<style type="text/css">

    @page {
        size: portrait;
    }
    body {
        text-align: left;
        font-size: 14px;
    }

    .frame {
        margin: 0 auto;
        width: 862px;
        text-align: left;
    }

    .tr {
        padding: 1px 0 1px 0;
    }

    .table {
        /*border: 1px solid;*/
    }

    .table .tr {
        padding: 0;
        height: 24px;
        line-height: 24px;
        /*border-bottom: solid 1px;*/
    }

    .table .tr:last-child {
        border-bottom: none;
    }

    .table .tr .td {
        /*border-right: solid 1px;*/
        text-align: center;
        height: 24px;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .table .tr .td:last-child {
        border-right: none;
    }

    .bord{
        font-weight: bold;
    }




</style>

<div class="frame">

  <!--设置-->
  <% print_time = Time.new.strftime("%Y-%m-%d %H:%M:%S") %>
  <% count = 1 %>
  <% statistic_declarations_size = @statistic_declarations.size %>
  <% page_size = 44 %>
  <% pages = statistic_declarations_size/page_size + 1 %>
  <% total_declaration_size = 0 %>
  <% declaration_size_array = [] %>
  <% @statistic_declarations.each_with_index do |statistic_declaration, i|%>
      <% cargo_size = statistic_declaration.declaration_cargos.size %>
      <% declaration_size_array[i] = cargo_size/5+(cargo_size%5==0?0:1) %>
      <% total_declaration_size += declaration_size_array[i] %>
  <% end %>
  <% (0..pages - 1).each do |page_count| %>
      <!--每一页的内容-->
      <!--<div class="tr" style="height: 80px;"></div>-->
      <div class="tr" style="height: 50px; text-align: center; font-size: 35px;"><%= @declaration_type %> ( 报关单 ) 统 计 表</div>

      <div class="tr">
        <div class="td" style="width:50%"><span class="bord">企业名称：</span><span class="content"><%=  @enterprise_name %></span></div>
        <div class="td" style="width:24%"><span class="bord">手册：</span><span class="content"><%= @manual  %></span></div>
        <div class="td" style="width:24%"><span class="bord">申报现场：</span><span class="content"><%= @custom_name  %></span></div>
      </div>

      <div class="tr">
        <div class="td" style="width:50%;"><span class="bord">统计时间：</span><span class="content"><%=  @from %></span> 到 <span class="content"><%=  @to %></span>
        </div>
        <div class="td" style="width:48%;"><span class="bord">合计：</span><span class="content"><%= statistic_declarations_size  %></span>份&nbsp;&nbsp;&nbsp;&nbsp;报关单<span class="content"><%= total_declaration_size  %></span>页</div>
      </div>

      <div class="tr" style="height: 10px;"></div>

      <div class="table" style="border-bottom: 1px solid;">
        <div class="tr" style="font-weight: bold;border-bottom: 1px solid;border-top: 1px solid">
          <div class="td" style="width:35px;">序号</div>
          <div class="td" style="width:100px;">申报日期</div>
          <div class="td" style="width:152px;">海关编号</div>
          <div class="td" style="width:150px;">预录入号</div>
          <div class="td" style="width:250px;">收发货单位</div>
          <div class="td" style="width:80px;">提运单号</div>
          <div class="td" style="width:80px;">报关单数</div>
        </div>
        <% start = page_count*page_size %>
        <% tail = (page_count + 1) * page_size - 1 > statistic_declarations_size ? statistic_declarations_size : (page_count + 1) * page_size - 1 %>
        <!--每一项-->
        <% @statistic_declarations[start..tail].each_with_index do |statistic_declaration, i| %>
            <div class="tr">
              <div class="td" style="width:35px;">
                <span ><%= count %><% count += 1 %></span>
              </div>
              <div class="td" style="width:100px;">
                <span >&nbsp;<%= statistic_declaration.declare_date %>&nbsp;</span>
              </div>
              <div class="td" style="width:152px;">
                <span >&nbsp;<%= statistic_declaration.entry_no %>&nbsp;</span>
              </div>
              <div class="td" style="width:150px;">
                <span >&nbsp;<%= statistic_declaration.pre_entry_no %>&nbsp;</span>
              </div>
              <div class="td" style="width:250px;">
                <span >&nbsp;<%# dict_name Dict::LoadPort, statistic_declaration.load_port %><%= statistic_declaration.enterprise.name %>&nbsp;</span>
              </div>
              <div class="td" style="width:80px;">
                <span >&nbsp;<%= statistic_declaration.bill_no %>&nbsp;</span>
              </div>
              <div class="td" style="width:80px;">
                <span >&nbsp;<%= declaration_size_array[i] %>&nbsp;</span>
              </div>
            </div>
        <% end %>
        <!--填充使满页-->
        <% ((page_count + 1) * page_size - 1 - statistic_declarations_size).times do %>
            <div class="tr"></div>
        <% end %>
      </div>
      <div style="float: right">第<%= page_count + 1 %>页/共<%= pages %>页
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        打印时间：&nbsp;&nbsp;&nbsp;&nbsp;<%= print_time %>&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="tr" style="height: 20px;"></div>
  <% end %>

</div>