<style type="text/css">


    body {
        font-size: 12px;
    }

    .frame {
        margin: 0 auto;
        text-align: left;
        position:relative;
        top: 0px;
        left: 0px;
    }
    .outer-center {
        float: right;
        right: 50%;
        position: relative;
    }

    .inner-center {
        float: right;
        right: -50%;
        position: relative;
    }

    table{
        text-align: center;
    }
    table thead tr{
        height: 20px;
    }
    table tr td{
        padding: 0 0.5em 0 0.5em;
        height: 20px;
    }

    #theSeals{
        position:absolute;
        top:0px;
        left:0px;
    }

    h1 {
        font-family: "STFangsong";
        font-size: 26px;
        font-weight: normal;
    }


    .table {
        border: 1px solid;
    }

    .tr {
        float: none;
        height: 20px;
        width: 100%;
    }

    .td {
        float: left;
        height: 20px;
    }

    .table .tr {
        height: 20px;
        border-bottom: solid 1px;
    }

    .table .td {
        border-right: 1px solid;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .table .last-tr {
        border-bottom: none;
    }

    .table .last-td {
        border-right: none;
    }

    .table .header {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
    }
</style>

<div class="frame">
  <div class="outer-center">
    <div class="inner-center">
      <div style="width: 100%; height: 20px;"></div>
      <div class="tr" style="text-align: center; height: 70px;">
        <h1><b>发　　票</b><br />
          INVOICE</h1>
      </div>
      <div class="tr" style="height: 20px;">
        <div class="td" style="height: 20px; width: 381px;"></div>
        <div class="td" style="height: 20px; width: 80px;"><span class="bgText">发票号码：</span></div>
        <div class="td" style="height: 20px; width: 136px; border-bottom: 1px solid;"><span class="content"><%= @declaration.pre_entry_no.to_s[8,18] %></span></div>
      </div>
      <div class="tr" style="height: 20px; margin-top: 10px;">
        <div class="td" style="height: 20px; width: 105px;"><span class="bgText">商　　　号：</span></div>
        <div class="td" style="height: 20px; width: 254px; border-bottom: 1px solid;"><span class="content"><%= @declaration.foreign_enterprise.name rescue "" %></span></div>
        <div class="td" style="height: 20px; width: 22px;"></div>
        <div class="td" style="height: 20px; width: 80px;"><span class="bgText">合同号码：</span></div>
        <div class="td" style="height: 20px; width: 136px; border-bottom: 1px solid;"><span class="content"><%= @declaration.contract_no %></span></div>
      </div>
      <div class="tr" style="height: 20px; margin-top: 10px;">
        <div class="td" style="height: 20px; width: 105px;"><span class="bgText"><%= @declaration_type == "export" ? "发 货" : "收 货"  %> 单 位：</span></div>
        <div class="td" style="height: 20px; width: 254px; border-bottom: 1px solid;"><span class="content"><%= @declaration.enterprise.name %></span></div>
        <div class="td" style="height: 20px; width: 22px;"></div>
        <div class="td" style="height: 20px; width: 80px;"><span class="bgText">日　　期：</span></div>
        <div class="td" style="height: 20px; width: 136px; border-bottom: 1px solid;"><span class="content"><%= @declaration.declare_date.strftime('%Y年%m月%d日') %></span></div>
      </div>
      <div class="clear"></div>
      <table border=1 style="border-collapse:collapse;margin-top: 10px; min-width: 700px">
        <thead style="font-weight: bold;border-bottom: 1px solid;">
        <tr >
          <td ><span class="bgText">序号</span></td>
          <td ><span class="bgText">商品名称、规格型号</span></td>
          <td ><span class="bgText">数量</span></td>
          <td ><span class="bgText">单位</span></td>
          <td ><span class="bgText">单价</span></td>
          <td ><span class="bgText">总价</span></td>
        </tr>
        </thead>
        <tbody>
        <% list_size = @declaration_cargos.size > 20 ? 20 : @declaration_cargos.size %>
        <% @declaration_cargos[0..list_size-1].each do |cargo| %>
            <tr>
              <td ><span class="content"><%= cargo.no %></span></td>
              <td style="text-align: left"><span class="content" ><%= cargo.name %>/<%= cargo.specification %></span></td>
              <td style="font-size: 12px"><span class="content"><%= cargo.quantity %></span></td>
              <td style="font-size:12px"><span class="content"><%= dict_name Dict::Unit, cargo.unit %></span></td>
              <td style="font-size: 12px"><span class="content"><%= sprintf "%0.4f", cargo.unit_price %></span></td>
              <td style="font-size: 12px"><span class="content"><%= sprintf "%0.2f", cargo.total_price %></span></td>
            </tr>
        <% end %>

        <% if list_size < 20 %>
            <% (1..20-list_size).each do |i| %>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                </tr>
            <% end %>
        <% end %>


        <%
           total_price = 0
           @declaration_cargos.each do |cargo|
             total_price += cargo.total_price
           end
        %>

        <tr>
          <td ></td>
          <td >成交方式：<span class="content"><%= dict_name Dict::DealMode, @declaration.deal_mode %> <%= dict_name Dict::District, @declaration.destination %></span></td>
          <td ></td>
          <td></td>
          <td><span class="content">总值(<%= dict_attr Dict::Currency, @declaration_cargos[0].currency, "short_name" %>)</span></td>
          <td  style="font-size: 12px"><span class="content"><%= sprintf "%0.2f", total_price.round(2) %></span></td>
        </tr>

        </tbody>
      </table>
      <div id="theSeals">
        <div class='seal-div hideseals ' style="display: none" title="拖动图片移动位置">
          <%= image_tag("seal1.png",  :alt => "印章", :class=>"seal", :id=>'seal_left', :style=>"z-index:100;cursor:move")  %>
          <span class='delete_seals' title='删除图片' style="position: relative; left:-20px; z-index: 100; cursor: pointer;"><%= image_tag("icons/cross.png") %></span>
        </div>
      </div>
    </div>
  </div>
</div>