<%= render "shared/error_messages", :model => @bill %>
<%= form_for @bill do |f| %>
  <fieldset>
    <legend>基本信息：</legend>
    <%= f.hidden_field :enterprise_id %>
    <%= f.hidden_field :in_enterprise_id, :id => 'in_enterprise_id' %>
    <%= f.hidden_field :sys_type %>
    <div class="filed">
      <label>预录入号</label>
      <%= f.text_field :pre_entry_no, :class => "text-input small-input", :readonly => "readonly" %>
      <br/>
      <small>预录入号由系统自动生成</small>
    </div>
    <div class="filed">
      <label>收发货单编号</label>
      <%= f.text_field :bill_no, :class => "text-input small-input" %>
      <br/>
      <small>申请成功后自动录入</small>
    </div>
    <div class="filed">
      <label>电子口岸号</label>
      <%= f.text_field :seq_no, :class => "text-input small-input" %>
      <br/>
      <small>申请成功后自动录入</small>
    </div>
  </fieldset>
  <fieldset>
    <legend>转出企业填写：</legend>
    <div class="filed">
      <label>申请表编号</label>
      <% applications_array = current_enterprise.applications.map { |application| [application.app_no, application.id] }.select { |application| application[0]!='' and application[1]!='' } %>
      <% applications_array = [["请选择", 0]] + applications_array %>
      <%= f.select :application_id, applications_array, {}, :id => "application_id_combobox", :class => "text-input small-input" %>
      <br/>
    </div>
    <script>
      $(function () {
        function auto_complete_linkman(code, id, is_in_corp) {
          $.get('/enterprises/' + code + '/show_by_code.json', {}, function (result) {
            if (result['linkman'] && id ) {
              $('#' + id).val(result['linkman'] );
            }
            if (is_in_corp) {
              $('#in_enterprise_id').val(result['id']);
            }
          })
        }

        $("#application_id_combobox").change(function () {
          $.get('<%= applications_path %>/' + this.value + '.json', null, function (data, textStatus, xhr) {
            if (data) {
              $("#trade_code_autocomplete").val(data.trade_code).blur();
              $("#in_trade_code_autocomplete").val(data.in_trade_code).blur();
              $("#cop_bill_no").val(data.cop_app_no);
              $("#in_cop_bill_no").val(data.in_cop_app_no);
              $("#contr_no").val(data.contr_no);
              $(this).focus();
            }
            ;
          });
        });
        $("#in_trade_code_autocomplete").blur(function(){
          if(this.value){
            auto_complete_linkman(this.value, '', true);
          }
        });
        $('#agent_code_autocomplete').blur(function () {
          auto_complete_linkman(this.value, 'is_decla_em');
        });
        $('#in_agent_code_autocomplete').blur(function () {
          auto_complete_linkman(this.value, 'in_is_decla_em');
        });
        $('#agent_code_autocomplete').blur();
        $('#in_agent_code_autocomplete').blur();
      })
    </script>
    <div class="filed">
      <label>转出企业</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :trade_code, :url => enterprises_path, :klass => "text-input small-input first-field" %>
    </div>
    <div class="filed">
      <label>转入企业</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :in_trade_code, :url => enterprises_path, :klass => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>转出企业内部编号</label>
      <%= f.text_field :cop_bill_no, :id => 'cop_bill_no' ,:class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>发货日期</label>
      <%= f.date_select :issue_date, :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>申报企业</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :agent_code, :url => enterprises_path, :klass => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>申报日期</label>
      <%= f.date_select :is_decla_date, :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>申报人</label>
      <%= f.text_field :is_decla_em, :id => 'is_decla_em', :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>运输工具类别</label>
      <%= f.text_field :convey_type, :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>运输工具编号</label>
      <%= f.text_field :convey_no, :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>合同号</label>
      <%= f.text_field :contr_no, :id => 'contr_no',:class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>备注</label>
      <%= f.text_field :note, :class => "text-input small-input" %>
    </div>
  </fieldset>
  <fieldset>
    <legend>转入企业填写：</legend>
    <div class="filed">
      <label>转入企业内部编号</label>
      <%= f.text_field :in_cop_bill_no, :id => 'in_cop_bill_no',:class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>收货日期</label>
      <%= f.date_select :in_issue_date, :class => "text-input small-input" %>
    </div>

    <div class="filed">
      <label>申报企业</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :in_agent_code, :url => enterprises_path, :klass => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>申报日期</label>
      <%= f.date_select :in_is_decla_date, :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>申报人</label>
      <%= f.text_field :in_is_decla_em, :id => 'in_is_decla_em', :class => "text-input small-input" %>
    </div>
    <div class="filed">
      <label>备注</label>
      <%= f.text_field :in_note, :class => "text-input small-input" %>
    </div>
  </fieldset>
  <div>
    <%= f.submit :class => "button" %>
  </div>
  <div class="clear"></div><!-- End .clear -->
<% end %> 