<%= render "shared/enterprise_selector" %>

<div class="content-box">
  <div class="content-box-header">
    <h3>添加新深加工结转<%= @sys_type=='normal'? '收发' : '退' %>货单(<%= current_enterprise.name %>)</h3>
    <div class="operations">
      <%= link_to '返回列表', bills_path(:sys_type => @sys_type) %>
    </div>
  </div>
  <div class="content-box-content">
    <%= render 'form' %>
  </div>
</div>