<ul class="shortcut-buttons-set">
	<li>
		<a class="shortcut-button" href="<%= dict_units_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			单位表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
</ul><!-- End .shortcut-buttons-set -->
<div class="clear"></div>