<ul class="shortcut-buttons-set">
	<li>
		<a class="shortcut-button" href="<%= dict_attachments_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			随附单证表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_brackets_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			托架对照表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_bring_in_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			引进方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_containers_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			集装箱表</span></a>
	</li>	
	<li>
		<a class="shortcut-button" href="<%= dict_countries_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国家地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_currencies_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			币制表 </span></a>
	</li>	
	<li>
		<a class="shortcut-button" href="<%= dict_customs_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			海关代码表 </span></a>
	</li>	
	<li>
		<a class="shortcut-button" href="<%= dict_deal_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			成交方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_declare_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			报关形式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_districts_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			国内地区表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_goods_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			商品分类表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_investment_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			投资方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_load_ports_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			装卸口岸表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_metal_cabinets_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			铁皮柜表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_pay_ways_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			结汇方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_ports_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			港口代码表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_process_types_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			加工种类表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_receipt_statuses_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			回执状态表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_tax_kinds_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			征免性质表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_tax_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			征免方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_trade_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			贸易方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_transport_modes_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			运输方式表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_trucks_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			承运单位表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_units_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			单位表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_usages_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			用途代码表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_wrap_types_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			包装种类表 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= dict_transit_types_path %>"><span> <%= image_tag("icons/db_48.png", :alt => "icon") %>
			<br />
			报关类型表 </span></a>
	</li>
	
</ul><!-- End .shortcut-buttons-set -->
<div class="clear"></div>