<!-- Page Head -->
<h2>Welcome, <%= current_user.username %></h2>
<p id="page-intro">
	What would you like to do?
</p>
<ul class="shortcut-buttons-set">
	<li>
		<a class="shortcut-button" href="<%= new_declaration_path(:declaration_type => 'export') %>"><span> <%= image_tag("icons/pencil_48.png", :alt => "icon") %>
			<br />
			新增出口报关单 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= new_declaration_path(:declaration_type => 'import') %>"><span> <%= image_tag("icons/pencil_48.png", :alt => "icon") %>
			<br />
			新增入口报关单 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= new_contract_path %>"><span> <%= image_tag("icons/paper_content_pencil_48.png", :alt => "icon") %>
			<br />
			新增合同 </span></a>
	</li>
	<li>
		<a class="shortcut-button" href="<%= me_path %>"><span> <%= image_tag("icons/comment_48.png", :alt => "icon") %>
			<br />
			我的资料 </span></a>
	</li>
</ul><!-- End .shortcut-buttons-set -->
<div class="clear"></div>
<!-- End .clear -->