<%= render "shared/error_messages", :model => @declaration_container %>
<%= form_for @declaration_container do |f| %>
	<%= f.hidden_field :declaration_id %>
	<p>
		<label>集装箱号</label>
		<%= f.text_field :code, :class => "text-input small-input first-field" %>
	</p>
	<p>
		<label>尺寸</label>
		<% containers_array = Dict::Container.all.map { |container| [container.code + "(#{container.name})", container.code] } %>
		<%= f.select :container, options_for_select(containers_array, @declaration_container.container), {}, :id => 'declaration_container_container_combobox', :width=>"170px", :class => "" %>
	</p>
	<p>
		<label>类型</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :metal_cabinet, :url => dict_metal_cabinets_path, :klass => "text-input small-input", :min_length => 1 %> 
	</p>
	<p>
		<label>车架编号</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :bracket, :url => dict_brackets_path, :klass => "text-input small-input", :min_length => 2 %> 
	</p>
	<p>
		<%= f.submit :class => "button" %>
	</p>
<div class="clear"></div><!-- End .clear -->
<% end %>

