<%= render "shared/error_messages", :model => @checkout_enterprise %>
<%= form_for @checkout_enterprise do |f| %>
    <fieldset>
      <%= f.hidden_field :finance_id %>
      <input type='hidden' name='from' value=<%= params[:from] %> />
      <p >
        <label>付费企业（默认为进出口收发货单位）</label>
        <%= render "shared/autocomplete_field", :form => f, :attribute => :code, :url => enterprises_path, :klass => "text-input small-input first-field" %>
      </p>
    </fieldset>
    <div>
      <%= f.submit :class => "button" %>
    </div>
    <div class="clear"></div><!-- End .clear -->
<% end %>


