<%= render "shared/error_messages", :model => @enterprise_fee %>
<%= form_for @enterprise_fee do |f| %>
  <fieldset>
    <%= f.hidden_field :enterprise_id %>
    <input type='hidden' name='from' value=<%= params[:from] %> />
    <p  >
      <label>装卸口岸</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :load_port, :url => dict_load_ports_path, :min_length => 2, :klass => "text-input small-input" %>
      <br />
    </p>
    <p>
      <label>费用种类代码</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :code, :url => dict_fees_path, :min_length => 2, :klass => "text-input small-input" %>
      <br />
    </p>
  </fieldset>
  <div>
    <%= f.submit :class => "button" %>
  </div>
  <div class="clear"></div><!-- End .clear -->
<% end %>


