<%= render "shared/error_messages", :model => @enterprise_fee %>
<%= form_for @enterprise_fee do |f| %>
  <fieldset>
    <%= f.hidden_field :enterprise_id %>
    <input type='hidden'  name="from" value=<%= params[:from] %>  >

   <p>
     <label>结算单位</label>
     <input value="<%= @enterprise_fee.checkout_enterprise_code %>" id="enterprise_autocomplete" name="enterprise_fee[checkout_enterprise_code]" class="text-input small-input first-field" type="text" data-url="<%= enterprises_path %>" data-minLength="2" >
     &nbsp;&nbsp;
     <br />
     <small id="enterprise_autocomplete_label">输入组织机构代码或名字</small>
   </p>


    <p  >
      <label>装卸口岸</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :load_port, :url => dict_load_ports_path, :min_length => 2, :klass => "text-input small-input" %>
      <br />
    </p>
    <p>
      <label>费用种类代码</label>
      <%= render "shared/autocomplete_field", :form => f, :attribute => :code, :url => dict_fees_path, :min_length => 2, :klass => "text-input small-input" %>
      <br />
    </p>
    <p>
      <label>价格</label>
      <%= f.text_field :price, :class => "text-input small-input" %>
      <br />
    </p>

    <p>
      <label>进出口</label>
      <% declaration_type_array = [["", ""],["进口","import"],["出口","export"]] %>
      <%= f.select :declaration_type, declaration_type_array, {}, :class => "" %>
      <br />
    </p>

  </fieldset>
  <div>
    <%= f.submit :class => "button" %>
  </div>
  <div class="clear"></div><!-- End .clear -->
<% end %>


