<div class="content-box">
	<div class="content-box-header">
		<h3><%= @model_name %>列表</h3>
		<div class="operations">
			<%= link_to '添加新'+@model_name, new_dict_bracket_path %> | 
			<%= link_to '返回字典列表', dict_path %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<table>
				<thead>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>生产厂家</th>
						<th>规格</th>
						<th>操作</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6"> <%= will_paginate @items, :previous_label => '上一页', :next_label => '下一页' %> </td>
					</tr>
				</tfoot>
				<tbody>
					<% @items.each do |item| %>
					<tr>
						<td><%= item.code %></td>
						<td><%= link_to item.name, item %></td>
						<td><%= item.manufacturer %></td>
						<td><%= item.specification %></td>
						<td> <%= link_to image_tag("icons/pencil.png", :alt => "Edit"), edit_dict_bracket_path(item) %>
						<%= link_to image_tag("icons/cross.png", :alt => "Delete"), item, confirm: '确定删除?', method: :delete %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
