<%= render "shared/error_messages", :model => @item %>
<%= form_for(@item) do |f| %>

	<p>
		<label>编码</label>
		<%= f.text_field :code, :class => "text-input small-input first-field" %>
		<br />
	</p>
	<p>
		<label>名称</label>
		<%= f.text_field :name, :class => "text-input small-input" %>
		<br />
	</p>
	<p>
		<%= f.submit :class => "button" %>
	</p>

<div class="clear"></div><!-- End .clear -->
<% end %>

