<%= render "shared/error_messages", :model => @contract_product %>
<%= form_for @contract_product do |f| %>
<fieldset>
	<%= f.hidden_field :contract_id %>
	<div class="filed" >
		<label>商品编码</label>
		<%= f.text_field :code, :class => "text-input small-input first-field" %>
		<br />
		<small>输入2个字符后有提示</small>
	</div>
	<script>
		$(document).ready(function(){
			$("#contract_product_code").autocomplete({
			source : function(request, response) {
				$.get( "<%= cargos_path %>/search.json?term="+request.term, function(result){
					response($.map(result, function(item) {
						item.label = item.code + ":" + item.name;
						item.value = item.code;
						return item;
					}));
			  	});
			},
			minLength : 2,
			select: function( event, ui ) {
				$("#contract_product_name").val(ui.item.name);
				$("#contract_product_specification").val(ui.item.specification);
				$("#unit_autocomplete").val(ui.item.unit).blur();
				$("#unit1_autocomplete").val(ui.item.unit1).blur();
				$("#unit2_autocomplete").val(ui.item.unit2).blur();
				$("#trade_country_autocomplete").val(ui.item.trade_country).blur();
			}
		});
		});		
	</script>
	<div class="filed" >
		<label>商品名称</label>
		<%= f.text_field :name, :class => "text-input small-input" %>
	</div>
	<div class="filed" >
		<label>规格型号 <a id="specification_helper_link" href="#" >辅助器</a></label>
		<%= f.text_field :specification, :class => "text-input small-input" %>
	</div>
	<div class="filed" >
		<label>申报单位</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :unit, :url => dict_units_path, :klass => "text-input small-input" %> 
	</div>
	<div class="filed" >
		<label>第一单位</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :unit1, :url => dict_units_path, :klass => "text-input small-input" %> 
	</div>
	<div class="filed" >
		<label>第二单位</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :unit2, :url => dict_units_path, :klass => "text-input small-input" %> 
	</div>
	<div class="filed" >
		<label>数量</label>
		<%= f.text_field :quantity, :class => "text-input small-input" %>
	</div>
	<div class="filed" >
		<label>单价</label>
		<%= f.text_field :unit_price, :class => "text-input small-input" %>
	</div>
	<div class="filed" >
		<label>销售国</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :trade_country, :url => dict_countries_path, :klass => "text-input small-input" %> 
	</div>
	<div class="filed" >
		<label>征免方式</label>
		<%= render "shared/autocomplete_field", :form => f, :attribute => :tax_mode, :url => dict_tax_modes_path, :klass => "text-input small-input" %> 
	</div>
	<div class="filed" >
		<label>序号</label>
		<%= f.text_field :no, :class => "text-input small-input" %>
	</div>
</fieldset>
<div>
	<%= f.submit :class => "button" %>
</div>
<div class="clear"></div><!-- End .clear -->
<% end %>

<%= render "shared/specification_helper", :model_name => "contract_product" %>