<div class="content-box">
	<div class="content-box-header">
		<h3>外商列表</h3>
		<div class="operations">
			<%= link_to '添加新外商', new_foreign_enterprise_path %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<table>
				<thead>
					<tr>
						<th>单位代码</th>
						<th>单位名称</th>
						<th>联系人</th>
						<th>联系电话</th>
						<th>操作</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6"> <%= will_paginate @foreign_enterprises %> </td>
					</tr>
				</tfoot>
				<tbody>
					<% @foreign_enterprises.each do |foreign_enterprise| %>
					<tr>
						<td><%= link_to foreign_enterprise.code, foreign_enterprise %></td>
					    <td><%= link_to foreign_enterprise.name, foreign_enterprise %></td>
					    <td><%= foreign_enterprise.linkman %></td>
					    <td><%= foreign_enterprise.telephone %></td>
					    <td> <%= link_to image_tag("icons/pencil.png", :alt => "编辑", :title => "编辑"), edit_foreign_enterprise_path(foreign_enterprise) %>
					    	<%= link_to image_tag("icons/cross.png", :alt => "删除", :title => "删除"), foreign_enterprise, confirm: '确定删除?', method: :delete %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
