<div id="sidebar">
	<div id="sidebar-wrapper">
		<!-- Sidebar with logo and menu -->
		<h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
		<!-- Logo (221px wide) -->
		<a href="#"><%= image_tag("logo.png", :alt => "Simpla Admin logo") %></a>
		<!-- Sidebar Profile links -->
		<div id="profile-links">
			Hello, <a href="#" title="Edit your profile"><%= current_user.name %></a>, welcome
			<br />
			<br />
			<a href="#" title="View the Site">View the Site</a> | <%= link_to 'Sign Out', signout_path %>
		</div>
		<ul id="main-nav">
			<!-- Accordion Menu -->
			<li>
				<%= link_to '我的首页', root_path, :class => "nav-top-item no-submenu pages_home" %>
			</li>
			<li>
				<a href="#" class="nav-top-item"> 报关数据 </a>
				<ul>
					<li>
						<%= link_to '新增货物', new_cargo_path, :class => "cargos_new" %>
					</li>
					<li>
						<%= link_to '货物列表', cargos_path, :class => "cargos" %>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class="nav-top-item"> 合同管理 </a>
				<ul>
					<li>
						<%= link_to '新增合同', new_contract_path, :class => "contracts_new" %>
					</li>
					<li>
						<%= link_to '合同列表', contracts_path, :class => "contracts contract" %>
					</li>					
				</ul>
			</li>			
			<li>
				<a href="#" class="nav-top-item"> Image Gallery </a>
				<ul>
					<li>
						<a href="#">Upload Images</a>
					</li>
					<li>
						<a href="#">Manage Galleries</a>
					</li>
					<li>
						<a href="#">Manage Albums</a>
					</li>
					<li>
						<a href="#">Gallery Settings</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#" class="nav-top-item"> 设置 </a>
				<ul>
					<li>
						<%= link_to '我的资料', me_path, :class => "users_me users_modify" %>
					</li>
				</ul>
			</li>
			<% if current_user.is? "admin" %>
			<li>
				<a href="#" class="nav-top-item"> 系统管理 </a>
				<ul>
					<li>
						<%= link_to '常规选项', options_path, :class => "options" %>
					</li>
					<li>
						<%= link_to '用户管理', users_path, :class => "users" %>
					</li>
					<li>
						<%= link_to '企业管理', enterprises_path, :class => "enterprises" %>
					</li>
					<li>
						<%= link_to '外商管理', foreign_enterprises_path, :class => "foreign_enterprises" %>
					</li>
					<li>
						<%= link_to '数据字典', dict_path, :class => "pages_dict dict" %>
					</li>
				</ul>
			</li>
			<% end %>
		</ul>		
	</div>
</div>
<!-- End #sidebar -->