<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>新泽公司ERP系统</title>		
		<%= csrf_meta_tags %> 
		<%= javascript_include_tag "application" %>	
		<%= stylesheet_link_tag "application" %>
	</head>
	<body>
		<div id="body-wrapper">		
			<input id="controller" type="hidden" value="<%= params[:controller] %>" />
			<input id="action" type="hidden" value="<%= params[:action] %>" />
			<!-- Wrapper for the radial gradient background -->
			<%= render "layouts/sidebar" %>
			<div id="main-content">
				<!-- Main Content Section with everything -->
				<noscript>
					<!-- Show a notification if the user has disabled javascript -->
					<div class="notification error png_bg">
						<div>
							Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
							Download From <a href="http://www.exet.tk">exet.tk</a>
						</div>
					</div>
				</noscript>
				<% flash.each do |key, value| %>
					<%
						key = key.to_s
						if !["success", "error", "information", "attention"].any?{|item| item == key}
							key = "information"
						end										
					%>					
					<%= render "shared/notification", :type => key,:content => value %> 
				<% end %>
				<%= yield %>
				<%= render "layouts/footer" %>
				<!-- End #footer -->
				<%= debug(params) if Rails.env.development? %>
			</div>
			<!-- End #main-content -->
		</div>
	</body>	
</html>
