<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= @title ? @title + " | " : "" %>新泽公司ERP系统</title>
		<%= csrf_meta_tags %> 
		<%= javascript_include_tag "print" %>	
		<%= stylesheet_link_tag "print", :media => "all" %>
	</head>
	<body>
		<div id="toolbar" class="noprint" >
			<div>
        <button type="button" onclick="javascript:preview_all();">打印预览</button>
        <button type="button" onclick="javascript:preview_all();window.print();">打印</button>
        &nbsp;
        <button type="button" onclick="javascript:preview_content();">套打预览</button>
        <button type="button" onclick="javascript:preview_content();window.print();">套打</button>
        &nbsp;
        <button type="button" onclick='javascript:show_seals();'>显示印章</button>
        <button type="button" onclick='javascript:hide_seals();'>隐藏印章</button>
        &nbsp;
        <input type="file" value='上传印章' id="upload_seal" accept="image/*"/>
        <% if params[:can_export] %>
            <% if params[:code] %>
                <%= link_to "<button>导出excel</button>".html_safe, print_finances_path(format: "xls") + "?code=#{params[:code]}"  , :target => "_blank"%>
            <% else %>
                <%= link_to "<button>导出excel</button>".html_safe, print_finances_path(format: "xls") , :target => "_blank"%>
            <% end %>
        <% end %>
			</div>
      <div>
        <% if params[:can_export] %>    <%# 暂时只有 财务统计 那里会传这个 can_port 变量过来，而也只有那里需要隐藏表格的一些栏目，所以就用 can_port来表示要不要隐藏 %>
            <button type="button" id="cargo_name_button" onclick='javascript:show_hide_column("cargo_name", "cargo_name_button");'>隐藏商品</button>
            <button type="button" id="trade_mode_button" onclick='javascript:show_hide_column("trade_mode","trade_mode_button");'>隐藏FOB/CIF</button>
            <button type="button" id="bill_no_button" onclick='javascript:show_hide_column("bill_no", "bill_no_button");'>隐藏车牌</button>
            <button type="button" id="contract_no_button" onclick='javascript:show_hide_column("contract_no","contract_no_button");'>隐藏合同协议号</button>
            <span style="color:red">如果打印格式有问题，请隐藏掉部分栏目</span>
      <% end %>

      </div>
    </div>

		<div id="top-blank" class="noprint" ></div>
		<%= yield %>
		<div id="mytip" style="display: none;">
			<textarea id="textarea" ></textarea>
		</div>
	</body>
</html>



