<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--<title><%= @title ? @title + " | " : "" %>新泽公司ERP系统</title> -->
		<%= csrf_meta_tags %> 
		<%= javascript_include_tag "print" %>	
		<%= stylesheet_link_tag "print", :media => "all" %>
	</head>
	<body>
		<div id="toolbar" class="noprint" >
			<button type="button" onclick="javascript:preview_all();">打印预览</button>
			<button type="button" onclick="javascript:preview_all();window.print();">打印</button>
			&nbsp;
			<button type="button" onclick="javascript:preview_content();">套打预览</button>
			<button type="button" onclick="javascript:preview_content();window.print();">套打</button>
      &nbsp;
      <button type="button" onclick='javascript:show_seals();'>加印章</button>
      <button type="button" onclick='javascript:hide_seals();'>不加印章</button>
		</div>
		<div id="top-blank" class="noprint" ></div>
		<%= yield %>
		<div id="mytip" style="display: none;">
			<textarea id="textarea" ></textarea>
		</div>
	</body>
</html>



