<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @dict_country.code %>
</p>

<p>
  <b>Name:</b>
  <%= @dict_country.name %>
</p>

<p>
  <b>English name:</b>
  <%= @dict_country.english_name %>
</p>


<%= link_to 'Edit', edit_dict_country_path(@dict_country) %> |
<%= link_to 'Back', dict_countries_path %>
