<div class="content-box">
	<div class="content-box-header">
		<h3>查看<%= @model_name %></h3>
		<div class="operations">
			<%= link_to '编辑', edit_dict_country_path(@item) %> |
			<%= link_to '返回列表', dict_countries_path %>
		</div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab">
			<p>
				<b>编码</b>：<%= @item.code %>
			</p>
			<p>
				<b>中文名称</b>：<%= @item.name %>
			</p>
			<p>
				<b>英文名称</b>：<%= @item.english_name %>
			</p>
		</div>
	</div>
</div>
